
/* cyrillic */
@font-face {
	font-family: 'Lobster';
	font-style: normal;
	font-weight: 400;
	src: local('Lobster'), local('Lobster-Regular'), url(http://fonts.gstatic.com/s/lobster/v15/c28rH3kclCLEuIsGhOg7evY6323mHUZFJMgTvxaG2iE.woff2) format('woff2');
	unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}

/* latin-ext */
@font-face {
	font-family: 'Lobster';
	font-style: normal;
	font-weight: 400;
	src: local('Lobster'), local('Lobster-Regular'), url(http://fonts.gstatic.com/s/lobster/v15/9NqNYV_LP7zlAF8jHr7f1vY6323mHUZFJMgTvxaG2iE.woff2) format('woff2');
	unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}

/* latin */
@font-face {
	font-family: 'Lobster';
	font-style: normal;
	font-weight: 400;
	src: local('Lobster'), local('Lobster-Regular'), url(http://fonts.gstatic.com/s/lobster/v15/cycBf3mfbGkh66G5NhszPQ.woff2) format('woff2');
	unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}

.lobster {
	font-family: Lobster;
}

* {
	padding: 0;
	margin: 0;
}


/*--------------------------wrapper section-------------------*/
div#wrapper {
	position: relative;
	width: 80%;
	margin: 0 auto;
	-webkit-box-shadow: 2px 0px 80px 0px rgba(0,0,0,0.2), -2px 0px 80px 0px rgba(0,0,0,0.2);
	-moz-box-shadow: 2px 0px 80px 0px rgba(0,0,0,0.2), -2px 0px 80px 0px rgba(0,0,0,0.2);
	box-shadow: 2px 0px 80px 0px rgba(0,0,0,0.2), -2px 0px 80px 0px rgba(0,0,0,0.2);
}


/*-------------------header section--------------------------*/

/*-------------header------------------*/
#header {
	height: auto;
}

#menu {
	width: 100%;
	/*background: rgba(0,0,0,.1) url('../img/black-twill.png');*/
	background: #000;
	/*border-bottom: 1px solid #eee;*/
	height: 25px;
}

#menu div {
	float: right;
	padding: 0 3%;
	line-height: 25px;
}

#menu div:first-child {
	padding-right: 5%;
}

#menu div a {
	text-decoration: none;
	color: #fff;
	font-weight: bold;
}

#qrCode {
	float: none;
	padding:0;
	margin:0;
	position: absolute;
	right: 8px;
	top: 30px;
}

#profile_photo   {
	clear: both;
	height: auto;
}

#profile_photo img{
	display: block;
	margin: 0 auto;
	padding-top: 10px;
	border:1px solid #eee;
}

#profile_photo p {
	width: 30%;
	font-size: 36px;
	margin: 10px auto;
	text-align: center;
}

#profile_photo p:last-child {
	font-style: italic;
	font-size: 22px;
	color: rgba(0,0,0,.5);
}

#contacts {
	width: 78%;
	margin: 5% auto;
}

#contacts p, i.fa {
	display: inline-block;
	opacity: .6;
}

#contacts p:not(:last-child) {
	margin-right: 15%; 
}

i.fa {
	margin-right: 17px;
}


i.fa.fa-circle {
	color: #4c93ad; 
}

i.fa:hover {
	cursor: pointer;
	opacity: 1;
}

/*-------------------content section-------------------------*/
#content {
	height: auto;
	background: url('../img/clean-textile.png'), rgba(76, 147, 173, .8));
background: url('../img/clean-textile.png'), linear-gradient(to  top, rgba(150, 154, 155, .7) 20%, rgba(76, 147, 173, .8) 80%);
background: url('../img/clean-textile.png'), -webkit-linear-gradient(to  top, rgba(150, 154, 155, .7) 20%, rgba(76, 147, 173, .8) 80%);
background: url('../img/clean-textile.png'), -o-linear-gradient(to  top, rgba(150, 154, 155, .7) 20%, rgba(76, 147, 173, .8) 80%);
background: url('../img/clean-textile.png'), -moz-linear-gradient(to  top, rgba(150, 154, 155, .7) 20%, rgba(76, 147, 173, .8) 80%);
background: url('../img/clean-textile.png'), -ms-linear-gradient(to  top, rgba(150, 154, 155, .7) 20%, rgba(76, 147, 173, .8) 80%);
padding: 5% 0;
}

.sectionHeader {
	font-size: 25px;
	padding: 20px 10px;
	cursor: pointer;
}

.section {
	width: 70%;
	margin: 0 auto;
	color: #fff;
	border: 1px solid #fff;
	background: rgba(255,255,255,.2);
	margin-bottom: 20px;
}

.data {
	margin: 10px 15px;
}

.data div {
	display: inline-block;
	width: 55%;
	vertical-align: top;
}

.data div:first-child {
	width: 40%;
}

.data span {
	display: block;
}

@keyframes progressLine1 {
	from {width: 0;}
	to {width:99%;}
}

@keyframes progressLine2 {
	from {width: 0;}
	to {width:95%;}
}

@keyframes progressLine3 {
	from {width: 0;}
	to {width:85%;}
}

@keyframes progressLine4 {
	from {width: 0;}
	to {width:80%;}
}

@keyframes progressLine5 {
	from {width: 0;}
	to {width:75%;}
}

@keyframes progressLine6 {
	from {width: 0;}
	to {width:75%;}
}

@keyframes progressLine7 {
	from {width: 0;}
	to {width:65%;}
}

.bar {
	position: relative;
	margin-right: 25px;
	margin-bottom: 12px;
	padding: 2px 0 2px 5px;
}

.barProgress1 {
	/*width: 0;*/
	margin-top: 45px;
	animation:progressLine1 2s ease-in-out;
	-webkit-animation:progressLine1 2s ease-in-out;
	-o-animation:progressLine1 2s ease-in-out;
	-moz-animation:progressLine1 2s ease-in-out;
	animation-fill-mode: forwards;
}

.barProgress2 {
	width: 0;
	animation:progressLine2 2s ease-in-out;
	-webkit-animation:progressLine2 2s ease-in-out;
	-o-animation:progressLine2 2s ease-in-out;
	-moz-animation:progressLine2 2s ease-in-out;
	animation-fill-mode: forwards;
}

.barProgress3 {
	width: 0;
	animation:progressLine3 2s ease-in-out;
	-webkit-animation:progressLine3 2s ease-in-out;
	-o-animation:progressLine3 2s ease-in-out;
	-moz-animation:progressLine3 2s ease-in-out;
	animation-fill-mode: forwards;
}

.barProgress4 {
	width: 0;
	animation:progressLine4 2s ease-in-out;
	-webkit-animation:progressLine4 2s ease-in-out;
	-o-animation:progressLine4 2s ease-in-out;
	-moz-animation:progressLine4 2s ease-in-out;
	animation-fill-mode: forwards;
}

.barProgress5 {
	width: 0;
	animation:progressLine5 2s ease-in-out;
	-webkit-animation:progressLine5 2s ease-in-out;
	-o-animation:progressLine5 2s ease-in-out;
	-moz-animation:progressLine5 2s ease-in-out;
	animation-fill-mode: forwards;
}

.barProgress6 {
	width: 0;
	animation:progressLine6 2s ease-in-out;
	-webkit-animation:progressLine6 2s ease-in-out;
	-o-animation:progressLine6 2s ease-in-out;
	-moz-animation:progressLine6 2s ease-in-out;
	animation-fill-mode: forwards;
}

.barProgress7 {
	width: 0;
	animation:progressLine7 2s ease-in-out;
	-webkit-animation:progressLine7 2s ease-in-out;
	-o-animation:progressLine7 2s ease-in-out;
	-moz-animation:progressLine7 2s ease-in-out;
	animation-fill-mode: forwards;
}

.invisible {
	display: none;
}

.blackBgrd {
	background: rgba(0,0,0,.2);
}

/* -------------------charts------------------------*/

#skills div.data div {
	width: 49.1%;
	box-sizing: padding-box;
}

#skills div.data p{
	text-align: center;
	margin: 10px 0;
	font-size: 20px;
}

#skills div.data svg {
	width: 100%;
}

#skills ul {
	width: 50%;
	list-style-type: none;
	text-indent: 10px;
	/*margin-left: 50px;*/
	margin: 0 auto;
}

#skills ul li:before {
	content: " ";
	height: 15px;
	width: 15px;
	display: block;
	position: relative;
	float: left;
	top: 3px;
}

#skills ul li:nth-child(1)::before {
	background-color: rgba(237,143,240,.8);
}

#skills ul li:nth-child(2)::before {
	background-color: rgba(240,235,143,.8);
}

#skills ul li:nth-child(3)::before {
	background-color: rgba(143,240,210,.8);
}

#skills ul li:nth-child(4)::before {
	background-color: rgba(171,240,143,.8);
}
/*----------------------------hobbies-------------------*/

#hobby div.data div {
	width: 49%;
}

#hobby span {
	display: block;
	font-size: 18px;
	margin: 10px 10px 50px;
	text-align: center;
	line-height: 18px;
}

#hobby div.data div p:last-child span {
	margin-bottom: 15px;
}

#hobby i.fa {
	display: block;
	margin: 15px auto;
	text-align: center;
}
/*------------------------contacts----------------------*/

#contact div.data div {
	width: 100%;
	margin:0 auto;
	
}

div#contact iframe {
	opacity: .7;
}

div#form {
	clear: both;
	width: 100%;
}

form {
	display: block;
	width: 100%;
	margin: 30px 0;
}

input, label, textarea {
	display: block;
	margin: 0 auto;
	width: 60%;
	color: #333;
	border: none;
	outline: none;
}

textarea {
	resize:none;
}

input, label {
	height: 35px;
	overflow: visible;

}

label {
	line-height: 35px;
	font-style: italic;
}
input[type="submit"]{
	height: 38px;
	width: 50%;
	color: #fff;
	background: #4c93ad;
	border: 2px solid #3F8EAA;
	margin-top: 15px;
	border-radius: 2px;
	box-shadow: 1px 1px 2px rgba(255,255,255,.3)
}

input[type="submit"]:hover {
	background: #52B1D3;
	border: 2px solid #43ADD3;
	cursor: pointer;
}

/*---------------------------footer---------------------------------------*/

#footer {
	height: 40px;
	background: rgba(0,0,0,.1) url('../img/black-twill.png');
}

#footer p {
	background: #fff;
	height: 10px;
	padding: 7px 43px;
	float: right;
	line-height: 10px;
	font-size: 10px;
	margin: 8px 15px 8px 0;
}
/*------------------------footer End--------------------------------------*/
/*#anchor {
	width: 50px;
	height: 50px;
	position: fixed;
	right: 0;
	bottom: 0;
	border-radius: 4px;
	background-color: rgba(15,15,15, .2);
	vertical-align: center;
	text-align: center;
}

#anchor i.fa {
	color: rgba(255,255,255,1);
	line-height: 32px;

	}*/

	/*------------------------side bar with links-----------------------------*/

	#social {
		width: 95px;
		height: 405px;
		position: fixed;
		right: 0px;
		background: rgba(0,0,0,.1);
		top: 7%;
		border-radius: 7px 0 0 7px;
		/*visibility: hidden;*/
		transition: all 1s ease .3s;
	}
	div#social:hover {
		background: rgba(0,0,0,.4);

	}

	#social div {
		width: 64px;
		height: 64px;
		margin: 45px auto;
	}

	div#facebook {
		background: url('../img/facebook_w.png') no-repeat;
	}

/*div#facebook:hover {
	background: url('../img/facebook.png') no-repeat;
	}*/

	div#linkedin {
		background: url('../img/linkedin_w.png') no-repeat;
	}

	div#instagram {
		background: url('../img/instagram_w.png') no-repeat;
	}