@font-size-default: 16px;
@font-weight-default:normal;
@font-default: "UbuntuMedium";
@font-default-small: "UbuntuLight";
@font-color: #434343;
@yellow-color: #f4b60d;
@blue-color: #248cec;
@menu-color: #2a2d32;
@menu-text-color: #fff;
@menu-font-family: "UbuntuCondensedRegular";
@border-color-default: #181a1d;


.font-custom(@font-family: @font-default, @size: @font-size-default, @color: @font-color, @weight:@font-weight-default) {
	font-family: @font-family;
	font-size: @size;
	color: @color;
	font-weight: @weight;
}

.link {
	text-decoration: none;
}

.border(@size: 1px, @type: solid, @color: @border-color-default) {
	border: @arguments;
}

.clearfix {
	display: block;
	zoom: 1;

	&:after {
		content: " ";
		display: block;
		font-size: 0;
		height: 0;
		clear: both;
		visibility: hidden;
	}
}

.wrapper {
	max-width: 1160px;
	margin: 0 auto;
	padding-top: 38px;
}


.logo {
	float: left;
	position: relative;
	padding-left: 51px;
	
	&__big {
		margin-bottom: 5px;
		.font-custom(@font-default, 22px, @font-color, bold);
	}
	&__small {
		.font-custom(@font-default-small, 9px, #333);
		text-transform: uppercase;
		letter-spacing: 2.3px;

		&:before {
			content: url("../../img/logo.png");
			display: block;
			position: absolute;
			width: 36px;
			height: 36px;
			top: 0;
			left: 0;
		}
	}

}

.header {
	padding-bottom: 36px;
}

.socials {
	float: right;

	.socials__list__item {
		float: left;
		width: 33px;
		line-height: 36px;
		text-align: right;
	}

	.socials__list__link {
		.fa {
			color: #ccc;
			font-size: @font-size-default;
		}

		&:hover .fa {
			color: @blue-color;
		}
	}
}

.menu {
	position: relative;
	background-color: @menu-color;
}

.menu__list__item {
	float: left;
}

.menu__list__link {
	display: block;
	line-height: 56px;
	padding: 0 40px;
	text-transform: uppercase;
	.link;
	.font-custom(@menu-font-family, 14px, @menu-text-color);
	
	&.menu__list__link--active {
		background-color: @blue-color;
	}

	&:not(.menu__list__link--active):hover {
		color: @yellow-color;
	}
}

.menu__search {
	position: absolute;
	right: 8px;
	top: 50%;
	margin-top: -19px;

	& .fa {
		position: absolute;
		right: 13px;
		top: 50%;
		font-size: @font-size-default;
		margin-top: -(@font-size-default*0.5);
		color: @menu-text-color;
	}
}

.menu__search__control {
	width: 223px;
	height: 38px;
	padding-left: 15px;
	background-color: #35383c;
	.border();
	color: @menu-text-color;

	&:focus {
		outline: none;
	}
}


