.acarousel-container {
	position: relative;
	padding: 15px;
	border: 1px solid #ddd;
	border-radius: 10px;
	margin: 150px auto;
}

.acarousel-hider {
	overflow: hidden;
}

.acarousel-list {    
	list-style: none;
	width: 10000px;
	padding: 0px;
	position: relative;
}
 
.acarousel-element {
	display: block;
	position: relative;
	margin-right: 25px;
	float: left;
	width: 280px;
	height: 200px;
	line-height: 200px;
	text-align: center;
}
 
.acarousel-element .acarousel-img {
	width: 280px;
	height: 200px;
	background-size: cover;
	opacity: 0;
}

.acarousel-element p {
	position: absolute;
	width: 100%;
	height: 30px;
	bottom: 0;
	background: rgba(0,0,0,.4);
	color: #eee;
	font-family: Arial, sans-serif;
	font-size: 12px;
	line-height: 30px;
	text-align: center;
	visibility: hidden;
	transition: all .3s;
}

.acarousel-element:hover p {
	visibility: visible;
}

