/* COMMON */
@font-size-default: 10px;
@font-family-titles: "MontserratBold", Arial, sans-serif;
@font-color-white: #fff;
@color-red: #ff4e50;
@color-red-hover: #fd6f71;

/* HEADER */
@font-size-header-title: 20px;
@font-family-subtitles: "RobotoLight", Arial, sans-serif;

/*MAIN*/

/* SECTION GUIDES*/
@font-size-guide-title: 22px;