body {
	width:100%;
	background: #009999 url(../img/bg.png) repeat-x fixed;
	font-family: Tahoma, Geneva, Verdana, sens-serif;
}

.wrapper {
	width: 1000px;
	background: #fff;
	margin: 0 auto;
	-webkit-box-shadow: 1px 0 2px 3px rgba(0, 0, 0, .1), -1px 0 2px 3px rgba(0, 0, 0, .1);
	box-shadow: 1px 0 2px 3px rgba(0, 0, 0, .1), -1px 0 2px 3px rgba(0, 0, 0, .1);
	border-bottom: 2px solid #000;
}

/*HEADER*/

.clearfix:after {
	content: ".";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
}

.header {
	padding: 0px 33px 9px 28px;
}

.logo {
	float: left;
}

.header_right {
	float: right;
}

.header_right_contacts {
	line-height: 0;
	vertical-align: 0;
	font-style: 0;
	padding: 11px 0 34px 167px;
}

.header_right_contacts p {
	width: 127px;
	font-size: 12px;
	line-height: 15px;
	color: #009999;
}

.header_right_countries {
	float: right;
}

.header_right_countries a {
	display: inline-block;
	font-size: 0;
	line-height: 0;
	vertical-align: 0;
	border:0;
	text-align: center;
	color: #009999;
}

.header_right_countries a:hover {
	text-decoration: none;
}

.header_right_countries span {
	display: block;
	font-size: 10px;
	padding: 5px 0 8px;
	text-align: center;
}

.slider img {
	clear: both;
	display: block;
	border-top: 1px solid #009999;
	border-bottom: 1px solid #009999;
}

/*MENU*/

.menu_list {
	background: #333;
	border-bottom: 1px solid #000;
	-webkit-box-shadow: 0 2px 3px rgba(0,0,0,.4);
	box-shadow: 0 2px 3px rgba(0,0,0,.4);
}

.menu_list > li {
	position: relative;
	float: left;
}

.menu_list li a {
	display: block;
	width: 142px;
	font-size: 14px;
	line-height: 27px;
	text-decoration: none;
	text-align: center;
	color: #fff;
}

.menu_list .drop_item > a, .drop_item ul a {
	width: 127px;
	text-align: left;
	padding-left: 15px;
}

.drop_item ul {
	position: absolute;
	left: -99999px;
	top: 100%;
	background: #333;
	-webkit-box-shadow: 3px 2px 4px rgba(0,0,0,0.4);
	-moz-box-shadow: 3px 2px 4px rgba(0,0,0,0.4);
	box-shadow: 3px 2px 4px rgba(0,0,0,0.4);
	-webkit-transition:0.25s linear opacity;
	-moz-transition:0.25s linear opacity;
	transition:0.25s linear opacity;
}

.drop_item  ul li {
	height: 27px;
	background: #333;
}

.menu_list > li:hover ul {
	left: 0;
}

.menu_list > li:hover {
	background: #111;
}

.drop_item ul li:hover {
	background: #111;
}

/*TRIANGLES of menu*/

.menu_list .drop_item > a:after {
	content: " ";
	position: absolute;
	border-top: 5px solid #fff;
	border-left: 3px solid transparent;
	border-right: 3px solid transparent;
	top: 12px;
	height: 0;
	width: 0;
}

.menu_list li:nth-of-type(2) a:after {
	right: 28px;
}

.menu_list li:nth-of-type(3) a:after {
	right: 69px;
}

.menu_list li:nth-of-type(4) a:after {
	right: 41px;
}

/*CONTENT*/

.content {
	width: 1000px;
	overflow: hidden;
}

.content h2 {
	padding: 12px 0 7px;
	font-weight: bold;
	text-align: center;
	font-size: 18px;
	color: #333;
}

.content div:not(:last-child) {
	border-right: 1px solid #ccc;
}

.content div p {
	padding-left: 16px;
	font-size: 14px;
	line-height: 24px;
	color: #333;
}

.content div p:last-child {
	padding-bottom: 15px;
}

.col_inform {
	width: 208px;
	float: left;
	padding-bottom: 20000px;
	margin-bottom: -20000px;
}

.col_news {
	width: 209px;
	float: right;
	padding-bottom: 20000px;
	margin-bottom: -20000px;
}

.col_main {
	width: 581px;
	margin: 0 208px 0 209px;
	padding-bottom: 20000px;
	margin-bottom: -20000px;
}

/*FOOTER*/

footer p {
	width: 100%;
	padding: 9px 0 11px;
	font-size: 12px;
	text-align: center;
	color: #fff;
}
