body {
	width:100%;
	background: #009999 url(../img/bg.jpg) no-repeat fixed;
	font-family: Tahoma, Geneva, Verdana, sens-serif;
}

.wrapper {
	width: 1000px;
	background: #fff;
	margin: 0 auto;
	-webkit-box-shadow: 1px 0 2px 3px rgba(0, 0, 0, .4), -1px 0 2px 3px rgba(0, 0, 0, .2);
	box-shadow: 1px 0 2px 3px rgba(0, 0, 0, .4), -1px 0 2px 3px rgba(0, 0, 0, .2);
	border-bottom: 2px solid #000;
}


/*HEADER*/

.clearfix:after {
	content: ".";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
}

.logo {
	float: left;
	padding: 0 0 9px 29px;
}

.header_contacts_countries {
	float: right;
}

.contacts {
	height: 68px;
	width: 126px;
	padding: 9px 32px 34px 176px;
	font-size: 12px;
	line-height: 15px;
	color: #009999;
}

.countries {
	float: right;
	padding-right: 34px
}

.countries a {
	display: inline-block;
	font-size: 0;
	line-height: 0;
	vertical-align: 0;
	border:0;
	color: #009999;
}

.countries p {
	font-size: 10px;
	padding: 5px 0 8px;
	text-align: center; 
}

.slider img {
	display: block;
	border-top: 1px solid #009999;
	border-bottom: 1px solid #009999;
}

/*MENU*/

.menu_list {
	height: 27px;
	border-bottom: 1px solid #000;
	background: #333; 
	-webkit-box-shadow: 0 2px 3px rgba(0, 0, 0, .4);
	box-shadow: 0 2px 3px rgba(0, 0, 0, .4);
}

.menu_list > li {
	position: relative;
	float: left;
	height: 27px;
	width: 142px;
}

.menu_list > li > a, .drop_item ul a {
	display: block;
	font-size: 14px;
	line-height: 27px;
	text-decoration: none;
	text-align: center;
	color: #fff;
}

.drop_item ul {
	position: absolute;
	visibility: hidden;
	width: 142px;
	left: 0;
	top: 27px;
	background: #333;
	-webkit-box-shadow: 3px 2px 4px rgba(0,0,0,0.4);
	-moz-box-shadow: 3px 2px 4px rgba(0,0,0,0.4);
	box-shadow: 3px 2px 4px rgba(0,0,0,0.4);
	-webkit-transition:0.25s linear opacity;
	-moz-transition:0.25s linear opacity;
	transition:0.25s linear opacity;
}

.drop_item  ul li {
	height: 27px;
	width: 142px;
	background: #333;
}

.menu_list .drop_item > a, .drop_item ul a {
	text-align: left;
	padding-left: 15px;
}

.menu_list li:hover ul {
	visibility: visible;
}

.drop_item ul li:hover {
	background: #111;
}

/*TRIANGLES of menu*/

.menu_list .drop_item > a:after {
	content: " ";
	position: absolute;
	display: block;
	border-top: 5px solid #fff;
	border-left: 3px solid transparent;
	border-right: 3px solid transparent;
	top: 12px;
	height: 0;
	width: 0;
}

.menu_list li:nth-of-type(2) a:after {
	right: 28px;
}

.menu_list li:nth-of-type(3) a:after {
	right: 69px;
}

.menu_list li:nth-of-type(4) a:after {
	right: 41px;
}

/*CONTENT*/

.content {
	width: 1000px;
	overflow: hidden;
}

.content h2 {
	padding: 12px 0 9px;
	font-weight: 600px;
	text-align: center;
	font-size: 18px;
	color: #333;
}

.content div p {
	padding-left: 16px;
	font-size: 14px;
	line-height: 24px;
	color: #333;
}

.content div p:last-child {
	padding-bottom: 15px;
}

.col_inform {
	width: 31%;
	float: left;
	padding-bottom: 20000px;
	margin-bottom: -20000px;
}

.col_main {
	width: 49%;
	float: left;
	padding-bottom: 20000px;
	margin-bottom: -20000px;
}

.col_news {
	width: 21%;
	float: right;
	padding-bottom: 20000px;
	margin-bottom: -20000px;
}

/*FOOTER*/

footer p {
	width: 100%;
	padding: 9px 0 11px;
	font-size: 12px;
	text-align: center;
	color: #fff;
}