body {
	background: #000 url("../img/bg.jpg") no-repeat fixed center;
}

.wrapper {
	width: 960;
	margin: 0 auto;
	color: #fff;
}

.header {
	height: 818px;
}

.header .logo {
	float: left;
	width: 266px;
}

.header .contacts {
	float: right;
	width: 120px;
	font-family: Tahoma, Geneva, Verdana, sans-serif;
}

.header .contacts .contacts_header {
	font-size: 10px;
	line-height: 15px;
}

.header .contacts .contacts_phone, .contacts_email {
	font-size: 9px;
	line-height: 12px;
}
