body {
	background: fixed #000 url("../img/bg.jpg") center center no-repeat;
	font-family: Tahoma, Geneva, Verdana, sans-serif;
	color: #fff;
}


/*WRAPPER*/

.wrapper {
	width: 818px;
	margin: 0 auto;
	padding-top: 50px;
}


/*HEADER*/

.header {
	position: relative;
	height: 150px;
}

.contacts {
	position: absolute;
	top: 94px;
	right: 0;
	padding-right: 15px;
}

.contacts_header {
	font-size: 10px;
	line-height: 15px;
	font-weight: bold;
}

.contacts_email, .contacts_phone {
	font-size: 9px;
	line-height: 12px;
}


/*CONTENT*/

.content {
	padding-bottom: 49px;
}

.row {
	height: 206px;
	padding-bottom: 69px;
}

.country {
	float: left;
	text-align: center;
}

.country:not(:last-child) {
	margin-right: 4px;
}

.content .row .country a {
	display: block;
	text-decoration: none;
}

.content .row .country img {
	transition: all .8s ease-out;
	-webkit-transition: all .8s ease-out;
	-moz-transition: all .8s ease-out;
	-o-transition: all .8s ease-out;
}

.content .row .country img:hover {
	opacity: .4;
	filter: alpha(opacity=40);
}

.content .row .country p {
	font-size: 15px;
	text-shadow: 1px 1px 1px rgba(255, 255, 255, 0.5);
	line-height: 20px;
	color: #fff;
	padding: 3px 0;
}


/*FOOTER*/

.clearfix:after {
	content: ".";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
}

.footer p {
	font-size: 10px;
	text-align: center;
	padding: 30px 0;
}
