.clearfix:after {
	content: '';
	display: block;
	line-height: 0;
	clear: both;
	visibility: hidden;
}

body {
	background: #293a4d url(../img/gun-metal.png);
}

.container {
	width: 79%;
	margin: 0 auto;
	font-size: 100%;
}

.watch {
	position: relative;
	width: 81%;
	padding: 20px 180px;
	margin: 200px auto 50px;
	border-radius: 6px;
	background: rgba(0,0,0,0.2);
	box-sizing: border-box;
	box-shadow: 0px 0px 8px 0px rgba(255,255,255,.1);
}

.watch span {
	font-size: 764%;
	font-family: Arial, sans-serif;
	font-weight: bold;
	color: #fff;
}

.watch .millisec {
	position: absolute;
	bottom: 18px;
	right: 205px;
	font-size: 20px;
}

.panel {
	width: 81%;
	margin: 0 auto;
}

.start, .stop {
	text-transform: uppercase;
	font-size: 25px;
}

.start {
	float: left;
}

.stop {
	float: right;
}

.button-error {
	background: rgb(202, 60, 60);
}

.button-success {
			background: rgb(28, 184, 65); 
}

.button-warning {
			background: rgb(223, 117, 20); 
}
