.container {
	padding-bottom: 150px;
	font-size: 16px;
	font-family: Arial, sans-serif;
	color: #aaa;
}

.row {
	padding: 0 20px;
}

.custom_slider {
	position: relative;
	margin-top: 50px;
}

.slider-wrapper {
	position: relative;
	min-width: 875px;
	height: 462px;
	width: 70%;
	margin: 0 auto;
}

.slider-item {
	position: absolute;
	height: 356px;
	width: 356px;
	margin: 53px 0;
	top: 0;
	right: 15px;
	opacity: 0;
	transition: all 1s;
}

.slider-item img {
  max-width:100%; 
  max-height:100%;
  margin:auto;
  display:block;
}

.slider-pages {
	margin: 19px 0;
    margin-right: 209px;
	text-align: right;
	font-size: 14px;
}

.slider-pages-item {
	list-style: none;
	display: inline-block;
	cursor: pointer;
	margin-right: 7px;
}

.active {
	color: #555;
}

.activeItem {
	opacity: 1;
}

.left,
.right {
	position: absolute;
	top: 200px;
	z-index: 999;
}

.left {
	left: 55px;
}

.right {
	right: 55px;
}

.text {
	position: relative;
	width: 80%;
	list-style: none;
}

.text_item {
	position: absolute;
	width: 40%;
	padding-left: 90px;
	font-size: 12px;
	line-height: 18px;
	visibility: hidden;
}

.text_item h2 {
	color: #777;
}

.fa {
	color: #aaa;
}