.col-md-12 {
	color: #bbb;
}

.custom_slider {
	position: relative;
	margin-top: 50px;
}

.slider-pages {
	text-align: right;
}

.slider-pages-item {
	list-style: none;
	display: inline-block;
	cursor: pointer;
	margin-right: 7px;
}

.slider-wrapper {
	position: relative;
	min-width: 875px;
	height: 462px;
	width: 80%;
	margin: 0 auto;
}


.slider-item img {
  max-width:100%; 
  max-height:100%;
  margin:auto;
  display:block;
}

.active {
	color: #555;
}

.activeItem {
	/*z-index: 999;*/
	opacity: 1;
}

.slider-item {
	position: absolute;
	height: 346px;
	width: 346px;
	margin: 58px 0;
	top: 0;
	right: 15px;
	opacity: 0;
	transition: all 1s;
}


.left,
.right {
	position: absolute;
	top: 200px;
	z-index: 999;
}

.left {
	left: 15px;
}

.right {
	right: 15px;
}

.text {
	position: relative;
	list-style: none;
}

.text_item {
	position: absolute;
	width: 40%;
	visibility: hidden;
}

.text_item h2 {
	color: #777;
}

.fa {
	color: #aaa;
}