* {
padding: 0;
margin: 0;
}

.wrapper {
	width: 60%;
	padding: 20px 0;
	margin: 0 auto;
	font-family: Arial, sans-serif;
	text-align: center;
}

.header {
	padding: 15px 0;
	line-height: 35px;
	text-align: center;
	font-size: 28px;
	color: #09B8F7;
}

.test_content {
	margin-bottom: 20px;
}

.test_item {
	list-style: none;
	padding: 5px 10px;
	border: 1px solid #ddd;
	border-radius: 5px;
	background-color: transparent;
	text-align: left;
	transition: all .5s;
}

.test_item:not(:last-of-type) {
	margin-bottom: 5px;
}

.test_item:hover {
	background-color: #ccc;
}

.test_item_modified {
	border: none;
	border-radius: 0;
	padding: 0;
	transition: none;
}

.test_item .test_item_modified:hover {
	background-color: transparent;
	cursor: inherit;
}

.test_item label {
	display: block;
	margin-bottom: 5px;
	font-size: 13px;
	color: #444;
}

.test_item  input[type="checkbox"] {
	vertical-align: middle;
}

.test_item_small-header {
	padding: 10px 0 10px;
	font-size: 18px;
	color: #555;
}

.test_submit {
	width: 180px;
	height: 40px;
	border-radius: 6px;
	background-color: #09B8F7;
	box-shadow: none;
	border: none;
	outline: none;
	color: #fff;
}

.test_submit:hover {
	background-color: #089CE0;
	color: #eee;
	cursor: pointer;
}

.modal {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: rgba(0,0,0,.4);
	display: none;
	z-index: 9999;
	overflow: auto;
}

.modal-inner {
	position: relative;
	margin: 20px auto;
	width: 45%;
	padding: 15px 25px;
	background-color: #fff;
	text-align: center;
	border-radius: 5px;
	-webkit-box-shadow: 0 0 15px rgba(0,0,0,.5);
	box-shadow: 0 0 15px rgba(0,0,0,.5);
	animation: pulse 1s ease;
}

@keyframes pulse {
  0% {	
	transform: translateY(-999px);
  }
  100% {
	transform: translateY(10px);
  }
}

.modal_title {
	text-align: center;
	font-size: 20px;
	color: #000;
}

.modal .test_item, .modal .test_item_question {
	pointer-events: none;
}

.test_item  .incorrect {
	text-decoration: line-through;
	color: #EA2923;
}

.test_item  .correct {
	color: #1BB556;
	font-style: italic;
}

.test_item .correct--missed {
	color: #1BB556;
	font-weight: bold;
	text-decoration: underline;
}

.modal .test_item_small-header {
	font-size: 16px;
}

.modal_button {
	padding: 5px 30px;
	border: 1px solid #aaa;
	border-radius: 6px;
	background-color: #eee;
	color: #888;
}

.modal_button:hover {
	border: 1px solid transparent;
	background-color: #999;
	color: #fff;
	cursor: pointer;
}

.modal_close {
	position: absolute;
	top: -12px;
	right: -12px;
	width: 24px;
	height: 24px;
	text-decoration: none;
	line-height: 24px;
	text-align: center;
	font-family: Arial,sans-serif;
	font-size: 14px;
	font-weight: bold;
	border-radius: 50%;
	background-color: #444;
	color: #fff;
}

.modal_close:hover {
	background-color: #ccc;
}

.modal_result {
	padding-top: 20px;
	text-align: center;
	font-family: Arial, sans-serif;
	font-weight: bold;
	font-size: 12px;
	color: red;
}

.modal_result_success {
	color: blue;
}

.hide {
	overflow: hidden;
}
