* {
	padding: 0;
	margin: 0;
}

body {
	font-family: Arial, sans-serif;
}

.article {
	width: 80%;
	margin: 50px auto;
}

.article__heading{
	margin-bottom: 30px;
	font-size: 20px;
	color: #eee;
}

.article__author {
	margin-bottom: 15px;
	font-size: 14px;
	text-indent: 20px;
}

.article__author span:last-child {
	font-style: italic;
	color: blue;
}

.author__text {
	font-size: 16px;
	color: #ccc;
}