@font-face {
	font-family: "Open Sans Light";
	src: url("../fonts/OpenSansLight/OpenSansLight.eot");
	src: url("../fonts/OpenSansLight/OpenSansLight.eot?#iefix")format("embedded-opentype"),
	url("../fonts/OpenSansLight/OpenSansLight.woff") format("woff"),
	url("../fonts/OpenSansLight/OpenSansLight.ttf") format("truetype");
	font-style: normal;
	font-weight: normal;
}

@font-face {
	font-family: "Open Sans ExtBold";
	src: url("../fonts/OpenSansExtraBold/OpenSansExtraBold.eot");
	src: url("../fonts/OpenSansExtraBold/OpenSansExtraBold.eot?#iefix")format("embedded-opentype"),
	url("../fonts/OpenSansExtraBold/OpenSansExtraBold.woff") format("woff"),
	url("../fonts/OpenSansExtraBold/OpenSansExtraBold.ttf") format("truetype");
	font-style: normal;
	font-weight: normal;
}

@font-face {
	font-family: "LeagueGothic";
	src: url("../fonts/LeagueGothicRegular/LeagueGothicRegular.eot");
	src: url("../fonts/LeagueGothicRegular/LeagueGothicRegular.eot?#iefix")format("embedded-opentype"),
	url("../fonts/LeagueGothicRegular/LeagueGothicRegular.woff") format("woff"),
	url("../fonts/LeagueGothicRegular/LeagueGothicRegular.ttf") format("truetype");
	font-style: normal;
	font-weight: normal;
}

.clearfix:after {
	content: '';
	display: block;
	line-height: 0;
	clear: both;
	visibility: hidden;
}

body {
	font-size: 100%;
}

.wrapper {
	max-width: 150rem;
	/*min-width: 960px;*/
	margin: 0 auto;
	overflow: hidden;
}

/*HEADER*/

.header {
	position: relative;
	background: url(../img/bg.jpg) center top no-repeat;
}

.container {
	min-width: 60rem;
	width: 55%;
	margin: 0 auto;
}

.container-top {
	padding: 4.28rem 0 45.7rem;
}

.container-bottom {
	position: relative;
}

/*LOGO*/

.logo {
	float: left;
}

.logo a {
	text-transform: uppercase;
	font-family: LeagueGothic, Arial, sans-serif;
	font-size: 2.94rem;
	color: #fff;
}

.logo span {
	color: #5e426b;
	-webkit-text-fill-color: transparent;
	background: rgba(116,80,131,1);
	background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(116,80,131,1)), color-stop(100%, rgba(50,37,57,1)));
	background: -webkit-linear-gradient(top, rgba(116,80,131,1) 0%, rgba(50,37,57,1) 100%);
	background: -o-linear-gradient(top, rgba(116,80,131,1) 0%, rgba(50,37,57,1) 100%);
	background: -ms-linear-gradient(top, rgba(116,80,131,1) 0%, rgba(50,37,57,1) 100%);
	background: linear-gradient(to bottom, rgba(116,80,131,1) 0%, rgba(50,37,57,1) 100%);
	background: -moz-linear-gradient(transparent, transparent);
	-webkit-background-clip: text;
}

.menu_item {
	text-align: center;
}

.menu_link {
	text-transform: uppercase;
	font-family: LeagueGothic, Arial, sans-serif;
	-webkit-text-shadow: 0 1px 3px rgba(0,0,0,.3);
	-moz-text-shadow: 0 1px 3px rgba(0,0,0,.3);
	text-shadow: 0 1px 3px rgba(0,0,0,.3);
	color: #fff;
}

/*.top-menu {
	float: right;
}

.top-menu .menu_item {
	float: left;
	line-height: 2.94rem;
}

.top-menu .menu_item:not(:last-child) {
	padding-right: 5%;
}

.top-menu .menu_link {
	font-size: 1.19rem;
	border-bottom: 2px solid transparent;
}

.top-menu .menu_link:hover {
	border-bottom: 2px solid rgba(237, 191, 255, .9);
}*/

.top-menu {
	margin-left: 20rem;
}

.top-menu .menu_list {
	display: table;
	width: 100%;
	margin: 0;
	padding: 0;
}

.top-menu .menu_item {
	display: table-cell;
	text-align: right;
}

.top-menu .menu_item:not(:first-child) {
	padding-left: 7%;

}

.top-menu .menu_link {
	line-height: 2.4rem;
	border-bottom: 2px solid transparent;
	font-size: 1.47rem;
}

.top-menu .menu_link:hover {
	border-bottom: 2px solid rgba(237, 191, 255, .9);
}

/*SLIDER*/

.slider {
	position: absolute;
	padding: 5.16rem 0 5.13rem;
	width: 100%;
	top: 17.25rem;
	background: rgba(0,0,0,.2);
	-webkit-text-shadow: 0px 1px 1px rgba(0,0,0,.5);
	-moz-text-shadow: 0px 1px 1px rgba(0,0,0,.5);
	text-shadow: 0px 1px 1px rgba(0,0,0,.5);
	color: #fff;
}

.slider_header {
	text-transform: capitalize;
	letter-spacing: .04rem;
	font-size: 3.5rem;
	font-family: LeagueGothic, Arial, sans-serif;
	color: #fff;
}

.slider_sub-header {
	text-transform: uppercase;
	font-family: LeagueGothic, Arial, sans-serif;
	font-size: 2rem;
	color: #edbfff;
}

.slider_content {
	width: 52.2%;
	line-height: 1.49rem;
	padding-top: .58rem;
	font-family: 'Open Sans Light', 'Trebuchet MS', Arial, sans-serif;
	font-size: 1.13rem;
	color: #fff;
}

.container-bottom:before,
.container-bottom:after {
	content: '';
	position: absolute;
	width: 1.89rem;
	height: 100%;
	top: 0;
	right: -10%;
	background: url(../img/arrow_right.png) center center no-repeat;
	cursor: pointer;
}

.container-bottom:before {
	background: url(../img/arrow_left.png) center center no-repeat;
	left: -10%;
}

.container-bottom:hover:before {
	background: url(../img/arrow_left_hover.png) center center no-repeat;
}

.container-bottom:hover:after {
	background: url(../img/arrow_right_hover.png) center center no-repeat;
}

.slider_img {
	position: absolute;
	max-width: 29%;
	top: -6.19rem;
	right: 7.2%;
}

.radio {
	position: absolute;
	float: right;
	right: 17%;
	bottom: -12.017rem;
}

.radio_item {
	float: left;
}

.radio_link{
	display: block;
	width:  1.063rem;
	height: 1.063rem;
	border-radius: 50%;
	background: rgba(0,0,0,.3);
	color: #fff;
}

.radio_item:not(:last-child) .radio_link {
	margin-right: 6px;
}

.radio_link:hover {
	width: .688rem;
	height: .688rem;
	border: .1875rem solid rgba(0,0,0,.5);
	background: #fff;
}

/*MAIN*/

.main {
	width: 100%;
}

/*BLOG*/

.blog {
	padding: 4.8rem 0 4.2rem;
	border-top: 1px solid #000;
	border-bottom: 1px solid #1d2f37;
	-webkit-text-shadow: 0px 1px 1px rgba(0,0,0,.5);
	-moz-text-shadow: 0px 1px 1px rgba(0,0,0,.5);
	text-shadow: 0px 1px 1px rgba(0,0,0,.5);
	background: rgba(116,80,131,1);
	background: -moz-linear-gradient(top, rgba(116,80,131,1) 0%, rgba(50,37,57,1) 100%);
	background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(116,80,131,1)), color-stop(100%, rgba(50,37,57,1)));
	background: -webkit-linear-gradient(top, rgba(116,80,131,1) 0%, rgba(50,37,57,1) 100%);
	background: -o-linear-gradient(top, rgba(116,80,131,1) 0%, rgba(50,37,57,1) 100%);
	background: -ms-linear-gradient(top, rgba(116,80,131,1) 0%, rgba(50,37,57,1) 100%);
	background: linear-gradient(to bottom, rgba(116,80,131,1) 0%, rgba(50,37,57,1) 100%);
	overflow: hidden;
}

.blog .container {
	position: relative;
	float: left;
	left: 50%;
}

.blog_article {
	position: relative;
	width: 23.1%;
	padding-left: 4.34rem;
	float: left;
	right: 50%;
}

.blog_article:not(:last-child) {
	margin-right: 4.5%;
}

.blog_title {
	position: relative;
	text-transform: uppercase;
	font-family: LeagueGothic, Arial, sans-serif;
	font-size: 1.785rem;
	letter-spacing: .6px;
	color: #fff;
}

.blog_title::before {
	content: '';
	position: absolute;
	height: 1.875rem;
	width: 1.875rem;
	left: -3.188rem;
}

.icon-wrench::before {
	background: url(../img/blog_icon.png) 0 0 no-repeat;
}

.icon-question::before {
	background: url(../img/blog_icon.png) -30px 0 no-repeat;
}

.icon-music::before {
	background: url(../img/blog_icon.png) -60px 0 no-repeat;
}

.blog_content {
	height: 7.5rem;
	line-height: 1.5rem;
	padding-top: .5rem;
	font-size: 1rem;
	font-family: 'Open Sans Light', 'Trebuchet MS', Arial, sans-serif;
	color: #fff;
	overflow: hidden;
}

.blog_link {
	display: block;
	margin-top: 1.3rem;
	text-transform: uppercase;
	text-align: right;
	font-size: .907rem;
	font-family: LeagueGothic, Arial, sans-serif;
	color: #fff;
}

.blog_link:hover {
	-webkit-text-shadow: 0 0 0.5rem #fff;
	-moz-text-shadow: 0 0 0.5rem #fff;
	text-shadow: 0 0 0.5rem #fff;
}

/*MAIN CONTENT*/

.main-content {
	background: #f9f9f9;
	border-top: .0625rem solid #0d151b;
}

.main-content .container {
	padding: 6.1rem 0 5.59rem;
	overflow: hidden;
}

.slider-small, .updates {
	float: left;
}

.slider-small {
	position: relative;
	top: 0rem;
	width: 36.1%;
	padding: 2.021rem 2.625rem 2.24rem 2.438rem;
	margin-left: 1.438rem;
	margin-right: 6.1%;
	-webkit-text-shadow: none;
	-moz-text-shadow: none;
	text-shadow: none;
	background: #fff;
	-webkit-box-shadow: 0 0 .375rem rgba(0,0,0,.1);
	box-shadow: 0 0 .375rem rgba(0,0,0,.1);
}

.slider-small:after {
	content: '';
	position: absolute;
	bottom: -1.250rem;
	right: 8.9%;
	width: 0;
	height: 0;
	border-top: 1.250rem solid #fff;
	border-left: 1.250rem solid transparent;
}

.slider-small .slider_header,
.slider-small .slider_sub-header {
	display: inline-block;
	font-size: 1.8rem;
}

.slider-small .slider_header {
	text-transform: uppercase;
	color: #454545;
}

.slider-small .slider_content {
	position: relative;
	width: auto;
	height: 10.5rem;
	line-height: 1.5rem;
	font-size: 1rem;
	letter-spacing: .0375rem;
	color: #454545;
	overflow-y: hidden;
}

.slider_icon {
	position: absolute;
	width: 3.125rem;
	height: 3.188rem;
	left: -1.4rem;
	top: 1.188rem;
}

.radio-black {
	width: 100%;
	right: 0;
	bottom: -2.6rem;
}

.radio-black .radio_list {
	position: relative;
	left: 50%;
	margin-left: -2.688rem;
}

.radio-black  .radio_item {
	position: relative;
}

.radio-black .radio_link {
	width: .94rem;
	height: .94rem;
	border: .063rem solid #e6e6e6;
	background: #fff;
}

.radio-black .radio_link:hover {
	width: .81rem;
	height: .81rem;
	border: .125rem solid #fff;
	background: rgba(0,0,0,.5);
}

/*UPDATES*/


.updates {
	width: 46%;
	padding: 2.021rem 0 0 0;
}

.updates_item {
	position: relative;
	padding-left: 4.3rem;
}

.updates_icon {
	position: absolute;
	width: 3rem;
	height: 3rem;
	top: -.282rem;
	left: 0;
	border-radius: 50%;
	overflow: hidden;
}

.updates_header {
	text-transform: uppercase;
	font-size: 1.9rem;
	font-family: LeagueGothic, Arial, sans-serif;
	margin-bottom: 1.29rem;
	color: #454545;
}

.updates_title {
	display: block;
	padding-bottom: .438rem;
	font-size: 1rem;
	font-family: 'Open Sans ExtBold', 'Trebuchet MS', Arial, sans-serif;
	font-weight: bold;
	color: #454545;
}

.updates_content {
	margin-bottom: 1.625rem;
	font-size: 1rem;
	font-family: 'Open Sans Light', 'Trebuchet MS', Arial, sans-serif;
	white-space: nowrap;
}

.updates_link {
	display: block;
	padding-right: .7rem;
	padding-top: .3rem;
	text-transform: uppercase;
	text-align: right;
	font-size: 1.1rem;
	font-family: LeagueGothic, Arial, sans-serif;
	color: #454545;
}

.updates_link .link_posts {
	display: none;
}

.updates_link:hover, .updates_title:hover {
	color: #bbb;
	cursor: pointer;
}

/*BRANDS*/

.brands {
	border-bottom: .063rem solid #f9f9f9;
	background: #f9f9f9;
}

.brands .container {
	min-width: 48.5rem;
	padding: 0 5.75rem;
}


.brands_list {
	display: table;
	width: 100%;
	height: 7.625rem;

}

.brands_logo {
	display: table-cell;
	width: 18%;
	vertical-align: middle;
}

/*ARTICLES*/

.articles {
	padding: 5.9rem 0 5.8rem;
	background: #ececec;
	overflow: hidden;
}

.articles_item {
	float: left;
	width: 29.38%;
}

.articles_item:not(:last-child) {
	margin-right: 5.9%;
}


.articles_title {
	font-family: LeagueGothic, Arial, sans-serif;
	font-size: 2rem;
	text-transform: uppercase;
	padding-bottom: .49rem;
	color: #454545;
}

.articles_title .title_news {
	display: none;
}

.title-regular {
	display: none;
}

.title-big {
	padding-bottom: .9rem;
	font-size: 2.9rem;
}

.title-big span {
	color: #b9b9b9;
}

.title-small {
	padding-bottom: .5rem;
	text-transform: capitalize;
	font-family: Tahoma, Geneva, Verdana, sans-serif;
	font-style: italic;
	font-weight: 500;
	font-size: 1rem;
	color: #c5c5c5;
}

.articles_content {
	height: 10.5rem;
	line-height: 1.5rem;
	font-size: 1.063rem;
	font-family: 'Open Sans Light', 'Trebuchet MS', Arial, sans-serif;
	color: #454545;
	overflow: hidden;
}

.title-small + .articles_content {
/*.articles .articles_content {*/
	height: 7.5rem;
}

/*FOOTER*/

.footer {
	padding: 2.9rem 0;
	-webkit-box-shadow: inset 0 .188rem .375rem rgba(0,0,0,0.5);
	-moz-box-shadow: inset 0 .188rem .375rem rgba(0,0,0,0.5);
	box-shadow: inset 0 .188rem .375rem rgba(0,0,0,0.5);
	background: url(../img/bg_footer.jpg) center bottom no-repeat;
}

.footer .menu {
	float: left;
	width: 85%;
}

.footer .menu_item {
	float: left;
	margin-right: 5.3%;
}

.footer .menu_link {
	font-size: 1.24rem;
}

.footer .menu_link:hover {
	-webkit-text-shadow: 0 0 0.5rem #fff;
	-moz-text-shadow: 0 0 0.5rem #fff;
	text-shadow: 0 0 0.5rem #fff;
}

.footer_author {
	float: right;
	font-size: .75rem;
	line-height: 1rem;
	font-family: 'Open Sans Light', 'Trebuchet MS', Arial, sans-serif;
	font-weight: lighter;
	color: #fff;
}

.footer_link {
	font-family: 'Open Sans ExtBold', 'Trebuchet MS', Arial, sans-serif;
	font-weight: 900;
	color: #fff;
}


@media only screen and (min-width: 768px) and (max-width: 959px) {
	.container {
		min-width: 45.5rem;
		margin: 0 auto;
	}

	.container-top {
		padding-bottom: 38.95rem;
	}

	.logo {
		float: none;
		padding-bottom: 1.3rem;
	}

	.top-menu {
		margin-left: 0;
	}

	.top-menu .menu_list {
		width: 89%;
	}

	.top-menu .menu_item {
		padding-left: 0;
		text-align: left;
	}

	.container-bottom {
		min-width: 44.06rem;
		padding-left: 1.406rem;
		margin: 0 auto;
	}

	.container-bottom:after {
		top: .5rem;
		width: 1.25rem;
		right: -1.25rem;
	}

	.container-bottom:before {
		top: .5rem;
		width: 1.25rem;
		left: -1.25rem;
	}

	.slider {
		top: 15.25rem;
		padding: 6.2rem 0 7.187rem;
	}

	.slider_header {
		font-size: 3rem;
		padding-bottom: .45rem;
		letter-spacing: 0;
	}

	.slider_sub-header {
		font-size: 1.6rem;
	}

	.slider_content {
		width: 37.2%;
		height: 5.96rem;
		line-height: 1.6rem;
		/*padding-top: 1.0625rem;*/
		font-size: 1.063rem;
		overflow: hidden;
	}

	.slider_img {
		max-width: 38%;
		top: -7.7rem;
		right: 3.9%;
	}

	.radio {
		bottom: -10.55rem;
	}

	.blog {
		padding: 4.906rem 0 4.3rem;
	}
	
	.blog_title {
		font-size: 1.4rem;
	}

	.blog_article {
		width: 20.7%;
		padding-left: 3.875rem;
	}

	.blog_article:not(:last-child) {
		margin-right: 5%;
	}
	
	.blog_content {
		height: 9rem;
	}

	.blog_link {
		font-size: 1.13rem;
		margin-top: .15rem;
	}

	.slider-small {
		position: relative;
		top: 0;
		width: 34%;
		padding: 1.937rem 1.687rem 2.75rem 2.5rem;
		margin-right: 8.21%;
	}

	.slider-small .slider_header,
	.slider-small .slider_sub-header {
		display: block;
		font-size: 1.39rem;
	}

	.slider-small .slider_header {
		padding-bottom: .2rem;
	}

	.slider-small .slider_content {
		height: 9rem;
	}

	.radio-black {
		bottom: -2.34rem;
	}

	.updates {
		width: 45.4%;
	}

	.updates_content {
		width: 96.1%;
		overflow: hidden;
	}

	.updates_link {
		padding-right: .3rem;
		padding-top: 0;
	}

	.updates_link .link_here {
		display: none;
	}

	.updates_link .link_posts { 
		display: block;
	}
	
	.brands .container {
		padding: 0;
	}
	
	.brands_list {
		height: 7.437rem;
	}

	.articles {
		padding: 6.56rem 0 5.92rem;
	}

	.articles_title {
		font-size: 1.5rem;
	}

	.articles_title .title_comments {
		display: none;
	}

	.articles_title .title_news {
		display: block;
	}

	.title-big,
	.title-small {
		display: none;
	}

	.title-regular {
		display: block;
	}

	.title-small + .articles_content {
		height: 10.5rem;
	}

	.articles_item {
		width: 28%;
	}

	.articles_item:not(:last-child) {
		margin-right: 8%;
	}

	.footer {
		padding: 3.06rem 0 5.188rem;
	}

	.footer .menu_item {
		margin-right: 7.1%;
	}

	.footer_author {
		clear: left;
		float: right;
		padding-top: 2.2rem;
	}
}

@media (min-width: 480px) and (max-width: 767px) {
	.container {
		min-width: 27.5rem;
		margin: 0 auto;
	}

	.container-top {
		padding:4.1rem 0 26.1rem;
	}

	.logo {
		float: none;
		width: 100%;
	}

	.logo a {
		display: block;
		text-align: center;
		font-size: 2.9rem;
	}

	.top-menu {
		position: relative;
		margin-left: 0;
		margin-top: 1.24rem;
	}

	.top-menu .menu_list {
		position: absolute;
		display: block;
		left: 50%;
		width: 15.25rem;
		margin-left: -7.625rem;
		border-radius: .3125rem;
		/*border: 1px solid transparent;*/
		z-index: 999;
	}

	.top-menu .menu_list:hover {
		background: rgba(54, 41, 62, .5);
		border: 1px solid #051116;
	}

	.top-menu .menu_item {
		display: block;
		text-align: center;
		/*border-bottom: 2px solid transparent;*/
	}

	.top-menu .menu_item:first-child {
		/*vertical-align: top;*/
		line-height: 2.4375rem;
		padding-top: .406rem;
		-webkit-text-shadow: 0 0 6px #fff;
		-moz-text-shadow: 0 0 6px #fff;
		text-shadow: 0 0 6px #fff;
	}

	.top-menu .menu_item:not(:first-child) {
		display: none;
		padding-left: 0;
	}

	.top-menu  .menu_list:hover .menu_item  {
		display: block;
		border-bottom: 1px solid rgba(53, 39, 61, .5);
	}

	.top-menu  .menu_list:hover .menu_item:not(:last-child)  {
		border-bottom: 1px solid rgba(53, 39, 61, .5);
		-webkit-box-shadow: 0 1px 1px rgba(105, 82, 114, .5);
		box-shadow: 0 1px 1px rgba(105, 82, 114, .5);
	}

	.top-menu .menu_item:last-child:hover {
			border-radius: 0 0 0.3125rem 0.3125rem;
	}

	.top-menu .menu_link {
		display: block;
		line-height: 2.469rem;
		font-size: 1.5rem;
	}

	.top-menu .menu_item:first-child .menu_link {
		display: inline;
		line-height: 2.39rem;
		padding: 0 6px;
		border-bottom: 2px solid rgba(237, 191, 255, .9);
	}

	.top-menu .menu_list:hover .menu_item:first-child .menu_link {
		border-bottom: none;
	}

	.top-menu .menu_item:not(:first-child) .menu_link:hover {
		background: rgba(43, 34, 49, .9);
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		box-sizing: border-box;
		border-bottom: 2px solid rgba(237, 191, 255, .9);
	}

	.slider {
		top: 12.656rem;
		padding:  5.99rem 0 5.1rem;
	}

	.slider_header,
	.slider_sub-header {
		padding-left: 4%;
	}

	.slider_header {
		font-size: 2.1rem;
	}

	.slider_sub-header {
		font-size: 1.19rem;
		letter-spacing: -1px;
	}

	.slider_content {
		display: none;
	}

	.slider_img {
		max-width: 44%;
		top: -6.6rem;
		right: 2%;
	}

	.container-bottom:before,
	.container-bottom:after {
		top: -6px;
		width: 1.25rem;
	}


	.container-bottom:before  {
		left: -4.5%;
	}

	.container-bottom:after  {
		right: -4.5%;
	}

	.radio {
		position: relative;
		float: none;
		right: 0;
		bottom: -7.5rem;
	}

	.radio_list {
		float:left;
		position:relative;
		left:50%;
	}

	.radio_item {
		float:left;
		position:relative;
		right:50%
	}

	.blog {
		padding: 4.812rem 0 4.375rem;
	}

	.blog_title {
		/*padding-bottom: .31rem;*/
		font-size: 1.41rem;
	}

	.blog_article {
		float: none;
		width: auto;
		padding-left: 3.75rem;
	}

	.blog_article:not(:last-child) {
		margin-right: 0;
		margin-bottom: 1.75rem;
	}

	.blog_content {
		height: 4.5rem;
		padding-top: .1rem;
		font-size: 1rem;
		padding-right: .75rem;
	}

	.blog_link {
		padding-right: .375rem;
		margin-top: 1rem;
		font-size: 1.1rem;
	}

	.main-content .container {
		padding: 4.375rem 0 5.75rem;
	}

	.slider-small,
	.updates {
		float: none;
	}

	.slider-small {
		top: auto;
		width: auto;
		padding: 1.906rem 1.968rem 2.156rem 2.406rem;
		margin-bottom: 4.3rem;
		margin-right: 0;
	}

	.slider-small .slider_header,
	.slider-small .slider_sub-header {
		font-size: 1.781rem;
		padding-left: 0;
	}

	.slider-small .slider_content {
		display: block;
		height: 10.5rem;
		padding-top: .8rem;
		font-size: 1rem;
		line-height: 1.5rem;
	}

	.radio-black {
		bottom: -2.656rem;
	}

	.radio-black .radio_link {
		width: 1.125rem;
		height: 1.125rem;
	}

	.radio-black .radio_link:hover {
		width: .875rem;
		height: .875rem;
		border-width: .125rem;
	}

	.updates {
		width: auto;
		padding: 0 1.969rem 0 3.906rem;
	}

	.updates_header {
		font-size: 1.9rem;
		margin-bottom: 1.24rem;
	}

	.updates_title {
		font-size: 1.063rem;
		padding-bottom: .406rem;
		letter-spacing: -.53px;
	}

	.updates_content {
		width: 92%;
		overflow: hidden;
	}

	.updates_link {
		padding-top: 0;
	}

	.updates_link .link_here {
		display: none;
	}

	.updates_link .link_posts { 
		display: block;
	}

	.brands .container {
		min-width: 27.5rem;
		padding: 2.156rem 0 .896rem;
		width: 55%;
	}

	.brands_list {
		width: 80%;
		padding: 0 10%;
	}

	.brands_logo {
		float: left;
		min-width: 6.438rem;
		height: 4.187rem;
		padding-bottom: 1.667rem;
		margin: 0 1.9%;
	}

	.brands_link {
		display: block;
		min-width: 6.438rem;
		line-height: 4.187rem;
		text-align: center;
	}

	.articles {
		padding: 4.58rem 0 5.4rem;
	}

	.articles_item {
		float: none;
		width: auto;
	}

	.articles_item:not(:last-child) {
		margin-right: 0;
		margin-bottom: 3.4rem
	}

	.title-big,
	.title-small {
		display: none;
	}

	.title-regular {
		display: block;
	}

	.articles_title .title_comments {
		display: none;
	}

	.articles_title .title_news {
		display: block;
	}

	.articles_title {
		padding-bottom: .718rem;
		font-size: 1.49rem;
	}

	.articles .articles_content {
		height: 6rem;
		font-size: 1rem;
		color: #787878;
	}

	.footer {
		padding: 2.938rem 0 5.271rem;
	}

	.footer .menu {
		float: none;
		display: table;
		width: 100%;
		padding: 0;
		margin: 0;
	}

	.footer .menu_item {
		display: table-cell;
		float: none;
		/*width: 16%;*/
		margin-right: 0;
	}

	.footer .menu_item:not(:last-child) {
		padding-right: 5.8%;
		text-align: left;
	}

	.footer_author {
		float: none;
		padding-top: 2.1rem;
		text-align: center;
	}
}

@media (max-width: 479px) {
	.container {
		min-width: 17.5rem;
		/*width: 55%;*/
		margin: 0 auto;
	}

	.container-top {
		padding: 4.313rem 0 23.8rem;
	}

	.logo {
		float: none;
		width: 100%;
	}

	.logo a {
		display: block;
		text-align: center;
		font-size: 2.92rem;
	}

	.top-menu {
		position: relative;
		margin-left: 0;
		margin-top: 1.2rem;
	}

	.top-menu .menu_list {
		position: absolute;
		display: block;
		left: 50%;
		width: 15.25rem;
		margin-left: -7.625rem;
		border-radius: .3125rem;
		/*border: 1px solid transparent;*/
		z-index: 999;
	}

	.top-menu .menu_list:hover {
		background: rgba(54, 41, 62, .5);
		border: 1px solid #051116;
	}

	.top-menu .menu_item {
		display: block;
		text-align: center;
		/*border-bottom: 2px solid transparent;*/
	}

	.top-menu .menu_item:first-child {
		/*vertical-align: top;*/
		line-height: 2.4375rem;
		padding-top: .406rem;
		-webkit-text-shadow: 0 0 6px #fff;
		-moz-text-shadow: 0 0 6px #fff;
		text-shadow: 0 0 6px #fff;
	}

	.top-menu .menu_item:not(:first-child) {
		display: none;
		padding-left: 0;
	}

	.top-menu  .menu_list:hover .menu_item  {
		display: block;
		border-bottom: 1px solid rgba(53, 39, 61, .5);
	}

	.top-menu  .menu_list:hover .menu_item:not(:last-child)  {
		border-bottom: 1px solid rgba(53, 39, 61, .5);
		-webkit-box-shadow: 0 1px 1px rgba(105, 82, 114, .5);
		box-shadow: 0 1px 1px rgba(105, 82, 114, .5);
	}

	.top-menu .menu_item:last-child:hover {
		border-radius: 0 0 0.3125rem 0.3125rem;
	}

	.top-menu .menu_link {
		display: block;
		line-height: 2.469rem;
		font-size: 1.5rem;
	}

	.top-menu .menu_item:first-child .menu_link {
		display: inline;
		line-height: 2.109rem;
		padding: 0 6px;
		border-bottom: 2px solid rgba(237, 191, 255, .9);
	}

	.top-menu .menu_list:hover .menu_item:first-child .menu_link {
		border-bottom: none;
	}

	.top-menu .menu_item:not(:first-child) .menu_link:hover {
		background: rgba(43, 34, 49, .9);
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		box-sizing: border-box;
		border-bottom: 2px solid rgba(237, 191, 255, .9);
	}

	.slider {
		top: 18.625rem;
		padding:  0;
		background: transparent;
	}

	.slider_header,
	.slider_sub-header {
		padding-left: 17%;
	}

	.slider_header {
		font-size: 2.156rem;
	}

	.slider_sub-header {
		font-size: 1.1rem;
	}

	.slider .slider_sub-header span {
		display: none;
	}

	.slider_content {
		display: none;
	}

	.slider_img {
		display: none;
	}

	.container-bottom:before,
	.container-bottom:after {
		width: 1.25rem;
	}


	.container-bottom:before  {
		left: -6.8%;
	}

	.container-bottom:after  {
		right: -6.8%;
	}

	.radio {
		position: absolute;
		float: none;
		width: 100%;
		right: 0;
		bottom: -6.1rem;
	}

	.radio_list {
		float:left;
		position:relative;
		left:50%;
	}

	.radio_item {
		float:left;
		position:relative;
		right:50%
	}

	.blog {
		padding: 4.4rem 0 3.9rem;
	}

	.blog_title {
		padding-bottom: .31rem;
		font-size: 1.4rem;
	}

	.blog_article {
		float: none;
		width: auto;
		padding-left: 4rem;
	}

	.blog_article:not(:last-child) {
		margin-right: 0;
		margin-bottom: 1.95rem;
	}

	.blog_content {
		height: 4.5rem;
		font-size: 1rem;
		padding-right: .75rem;
		padding-top: 0;
	}

	.blog_link {
		margin-top: 1.125rem;
		padding-right: 6px;
		letter-spacing: 0.2px;
		font-size: 1.09rem;
	}

	.main-content .container {
		padding: 4.2rem 0 5.719rem;
	}

	.slider-small,
	.updates {
		float: none;
	}

	.slider-small {
		top: auto;
		width: auto;
		padding: 1.719em 2.1rem 1.7rem 2.25rem;
		margin-bottom: 5.719rem;
		margin-right: 0;
	}

	.slider-small .slider_header,
	.slider-small .slider_sub-header {
		font-size: 1.4rem;
		display: block;
		padding-left: 0;
		}

	.slider-small .slider_content {
		display: block;
		height: 10.5rem;
		padding-top: .375rem;
		font-size: 1.093rem;
		line-height: 1.5rem;
		letter-spacing: inherit;
	}

	.radio-black {
		bottom: -2.656rem;
	}
	
	.radio-black .radio_item {
		right: auto;
	}
	
	.radio-black .radio_list {
		float: none;
	}

	.radio-black .radio_link {
		width: 1.125rem;
		height: 1.125rem;
	}

	.radio-black .radio_link:hover {
		width: .875rem;
		height: .875rem;
		border-width: .125rem;
	}

	.updates {
		width: auto;
		padding: 0;
	}

	.updates_header {
		font-size: 1.85rem;
		margin-bottom: 1.1rem;
	}

	.updates_item {
		padding-left: 3.99rem;
	}

	.updates_title {
		width: 71%;
		font-size: 1rem;
		padding-bottom: .5rem;
		white-space: nowrap;
		overflow-x: hidden;
	}
	
	.updates_content {
		width: auto;
		margin-bottom: 1.8rem;		
		overflow: hidden;
	}

	.updates_link {
		padding-top: 0;
		padding-right: .25rem;
	}

	.updates .updates_item:last-child .updates_content {
		margin-bottom: 1.4rem;
	}

	.updates_link .link_here {
		display: none;
	}

	.updates_link .link_posts { 
		display: block;
	}

	.brands .container {
		min-width: 17.5rem;
		padding: 0;
		padding-top: 3.1rem;
		width: 55%;
	}

	.brands_list {
		width: 80%;
		padding: 0 10%;
	}

	.brands_logo {
		float: left;
		min-width: 6.438rem;
		height: 4.187rem;
		padding-bottom: 3.5rem;
		margin: 0 1.9%;
	}

	.brands_link {
		display: block;
		min-width: 6.438rem;
		line-height: 4.187rem;
		text-align: center;
	}

	.articles {
		display: none;
	}

	.footer {
		padding: 2.438rem 0 8.937rem;
	}

	.footer .menu {
		display: none;
	}

	.footer_author {
		float: none;
		text-align: center;
	}
}

@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
   /* стили только для IE10 */
   * {
	font-size: 16px;
   }

   .logo span {
	color: #5e426b;
	background: transparent;
}
}