/* Определение шрифта для Internet Explorer */
@font-face {
	font-family: LeagueGothic;
	src: url(leaguegothic-regular-webfont.eot);
}

@font-face {
	font-family: MyriadProRegular;
	src: url(Myriad Pro Regular.eot);
}

/* Определение шрифта для остальных браузеров */
@font-face {
	font-family: LeagueGothic;
	src: url(../fonts/leaguegothic-regular-webfont.ttf) format('truetype'),
	url(../fonts/LeagueGothic-Regular.otf) format('opentype');
	font-weight: normal;
}

@font-face {
	font-family: MyriadProRegular;
	src: url(../fonts/Myriad Pro Regular.ttf) format('truetype'),
	url(../fonts/MyriadPro-Regular.otf) format('opentype');
	font-weight: normal;
}

@font-face {
	font-family: 'Open Sans Light';
	src: url(../fonts/OpenSans-Light.ttf) format('truetype');
	font-weight: lighter;
}

@font-face {
	font-family: 'Open Sans ExtBold';
	src: url(../fonts/OpenSans-ExtraBold.ttf) format('truetype');
	font-weight: bold;
}

.clearfix:after {
	content: '';
	display: block;
	line-height: 0;
	clear: both;
	visibility: hidden;
}

body {
	font-size: 100%;
}

.wrapper {
	max-width: 150rem;
	/*min-width: 960px;*/
	margin: 0 auto;
	overflow: hidden;
}

/*HEADER*/

.header {
	position: relative;
	background: url(../img/bg.jpg) center top no-repeat;
}

.container {
	min-width: 60rem;
	width: 55%;
	margin: 0 auto;
}

.container-top {
	padding: 4.32rem 0 46.12rem;
}

.container-bottom {
	position: relative;
}

/*LOGO*/

.logo {
	float: left;
}

.logo a {
	text-transform: uppercase;
	font-family: LeagueGothic, Arial, sans-serif;
	font-size: 2.94rem;
	color: #fff;
}

.logo span {
	color: #5e426b;
	-webkit-text-fill-color: transparent;
	background: rgba(116,80,131,1);
	background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(116,80,131,1)), color-stop(100%, rgba(50,37,57,1)));
	background: -webkit-linear-gradient(top, rgba(116,80,131,1) 0%, rgba(50,37,57,1) 100%);
	background: -o-linear-gradient(top, rgba(116,80,131,1) 0%, rgba(50,37,57,1) 100%);
	background: -ms-linear-gradient(top, rgba(116,80,131,1) 0%, rgba(50,37,57,1) 100%);
	background: linear-gradient(to bottom, rgba(116,80,131,1) 0%, rgba(50,37,57,1) 100%);
	background: -moz-linear-gradient(transparent, transparent);
	-webkit-background-clip: text;
}

.menu_item {
	text-align: center;
}

.menu_link {
	text-transform: uppercase;
	font-family: LeagueGothic, Arial, sans-serif;
	-webkit-text-shadow: 0 1px 3px rgba(0,0,0,.3);
	-moz-text-shadow: 0 1px 3px rgba(0,0,0,.3);
	text-shadow: 0 1px 3px rgba(0,0,0,.3);
	color: #fff;
}

/*.top-menu {
	float: right;
}

.top-menu .menu_item {
	float: left;
	line-height: 2.94rem;
}

.top-menu .menu_item:not(:last-child) {
	padding-right: 5%;
}

.top-menu .menu_link {
	font-size: 1.19rem;
	border-bottom: 2px solid transparent;
}

.top-menu .menu_link:hover {
	border-bottom: 2px solid rgba(237, 191, 255, .9);
}*/

.top-menu {
	margin-left: 20rem;
}

.top-menu .menu_list {
	display: table;
	width: 100%;
	margin: 0;
	padding: 0;
}

.top-menu .menu_item {
	display: table-cell;
	padding-left: 7%;
	text-align: right;
}

.top-menu .menu_link {
	line-height: 2.94rem;
	border-bottom: 2px solid transparent;
	font-size: 1.19rem;
}

.top-menu .menu_link:hover {
	border-bottom: 2px solid rgba(237, 191, 255, .9);
}


/*SLIDER*/

.slider {
	position: absolute;
	padding: 5.32rem 0 5.19rem;
	width: 100%;
	top: 17.25rem;
	background: rgba(0,0,0,.2);
	-webkit-text-shadow: 0px 1px 1px rgba(0,0,0,.5);
	-moz-text-shadow: 0px 1px 1px rgba(0,0,0,.5);
	text-shadow: 0px 1px 1px rgba(0,0,0,.5);
	color: #fff;
}

.slider_header {
	text-transform: capitalize;
	letter-spacing: .04rem;
	font-size: 3.5rem;
	font-family: LeagueGothic, Arial, sans-serif;
	color: #fff;
}

.slider_sub-header {
	text-transform: uppercase;
	font-family: LeagueGothic, Arial, sans-serif;
	font-size: 1.57rem;
	color: #edbfff;
}

.slider_content {
	width: 52.2%;
	line-height: 1.49rem;
	padding-top: .75rem;
	font-family: 'Open Sans Light', 'Trebuchet MS', Arial, sans-serif;
	font-size: 1.13rem;
	color: #fff;
}

.container-bottom:before,
.container-bottom:after {
	content: '';
	position: absolute;
	width: 1.89rem;
	height: 100%;
	top: 0;
	right: -10%;
	background: url(../img/arrow_right.png) center center no-repeat;
	cursor: pointer;
}

.container-bottom:before {
	background: url(../img/arrow_left.png) center center no-repeat;
	left: -10%;
}

.container-bottom:hover:before {
	background: url(../img/arrow_left_hover.png) center center no-repeat;
}

.container-bottom:hover:after {
	background: url(../img/arrow_right_hover.png) center center no-repeat;
}

.slider_img {
	position: absolute;
	max-width: 29%;
	top: -6.26rem;
	right: 8%;
}

.radio {
	position: absolute;
	float: right;
	right: 17%;
	bottom: -12.017rem;
}

.radio_item {
	float: left;
}

.radio_link{
	display: block;
	width:  1.063rem;
	height: 1.063rem;
	border-radius: 50%;
	background: rgba(0,0,0,.3);
	color: #fff;
}

.radio_item:not(:last-child) .radio_link {
	margin-right: .375rem;
}

.radio_link:hover {
	width: .625rem;
	height: .625rem;
	border: 3px solid rgba(0,0,0,.5);
	background: #fff;
}

/*MAIN*/

.main {
	width: 100%;
}

/*BLOG*/

.blog {
	padding: 5rem 0 6.675rem;
	border-top: 1px solid #000;
	border-bottom: 1px solid #1d2f37;
	-webkit-text-shadow: 0px 1px 1px rgba(0,0,0,.5);
	-moz-text-shadow: 0px 1px 1px rgba(0,0,0,.5);
	text-shadow: 0px 1px 1px rgba(0,0,0,.5);
	background: rgba(116,80,131,1);
	background: -moz-linear-gradient(top, rgba(116,80,131,1) 0%, rgba(50,37,57,1) 100%);
	background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(116,80,131,1)), color-stop(100%, rgba(50,37,57,1)));
	background: -webkit-linear-gradient(top, rgba(116,80,131,1) 0%, rgba(50,37,57,1) 100%);
	background: -o-linear-gradient(top, rgba(116,80,131,1) 0%, rgba(50,37,57,1) 100%);
	background: -ms-linear-gradient(top, rgba(116,80,131,1) 0%, rgba(50,37,57,1) 100%);
	background: linear-gradient(to bottom, rgba(116,80,131,1) 0%, rgba(50,37,57,1) 100%);
	overflow: hidden;
}

.blog .container {
	position: relative;
	float: left;
	left: 50%;
}

.blog_article {
	position: relative;
	width: 23.1%;
	padding-left: 3.969rem;
	float: left;
	right: 50%;
}

.blog_article:not(:last-child) {
	margin-right: 5.4%;
}

.blog_title {
	position: relative;
	text-transform: uppercase;
	font-family: LeagueGothic, Arial, sans-serif;
	font-size: 1.375rem;
	color: #fff;
}

.blog_title::before {
	content: '';
	position: absolute;
	height: 1.875rem;
	width: 1.875rem;
	left: -3.188rem;
}

.icon-wrench::before {
	background: url(../img/blog_icon.png) 0 0 no-repeat;
}

.icon-question::before {
	background: url(../img/blog_icon.png) -30px 0 no-repeat;
}

.icon-music::before {
	background: url(../img/blog_icon.png) -60px 0 no-repeat;
}

.blog_content {
	height: 7.5rem;
	line-height: 1.5rem;
	font-size: .96rem;
	font-family: 'Open Sans Light', 'Trebuchet MS', Arial, sans-serif;
	color: #fff;
	overflow: hidden;
}

.blog_link {
	display: block;
	padding-right: .532rem;
	margin-top: 1.407rem;
	text-transform: uppercase;
	text-align: right;
	font-size: .907rem;
	font-family: LeagueGothic, Arial, sans-serif;
	color: #fff;
}

.blog_link:hover {
	-webkit-text-shadow: 0 0 0.5rem #fff;
	-moz-text-shadow: 0 0 0.5rem #fff;
	text-shadow: 0 0 0.5rem #fff;
}

/*MAIN CONTENT*/

.main-content {
	background: #f9f9f9;
	border-top: .0625rem solid #0d151b;
}

.main-content .container {
	padding: 8.250rem 0 9.532rem;
	overflow: hidden;
}

.slider-small, .updates {
	float: left;
}

.slider-small {
	position: relative;
	top:0;
	width: 36.1%;
	padding: 2.021rem 2.625rem 2.407rem 2.438rem;
	margin-left: 1.438rem;
	margin-right: 6.1%;
	-webkit-text-shadow: none;
	-moz-text-shadow: none;
	text-shadow: none;
	background: #fff;
	-webkit-box-shadow: 0 0 .375rem rgba(0,0,0,.1);
	box-shadow: 0 0 .375rem rgba(0,0,0,.1);
}

.slider-small:after {
	content: '';
	position: absolute;
	bottom: -1.250rem;
	right: 4.2%;
	width: 0;
	height: 0;
	border-top: 1.250rem solid #fff;
	border-left: 1.250rem solid transparent;
}

.slider-small .slider_header,
.slider-small .slider_sub-header {
	display: inline-block;
	font-size: 1.375rem;
}

.slider-small .slider_header {
	text-transform: uppercase;
	color: #454545;
}

.slider-small .slider_content {
	position: relative;
	width: auto;
	height: 10.5rem;
	line-height: 1.5rem;
	font-size: 1rem;
	letter-spacing: .0375rem;
	color: #454545;
	overflow-y: hidden;
}

.slider_icon {
	position: absolute;
	width: 3.125rem;
	height: 3.188rem;
	left: -1.563rem;
	top: 1.188rem;
}

.radio-black {
	width: 100%;
	right: auto;
	bottom: -5.094rem;
}

.radio-black .radio_list {
	position: relative;
	left: 50%;
	margin-left: -2.688rem;
}

.radio-black  .radio_item {
	position: relative;
}

.radio-black .radio_link {
	width: .94rem;
	height: .94rem;
	border: .063rem solid #e6e6e6;
	background: #fff;
}

.radio-black .radio_link:hover {
	width: .81rem;
	height: .81rem;
	border: .125rem solid #fff;
	background: rgba(0,0,0,.5);
}

/*UPDATES*/


.updates {
	width: 46%;
	padding: 2.021rem 0 0 0;
}

.updates_item {
	position: relative;
	padding-left:  4rem;
}

.updates_icon {
	position: absolute;
	width: 3rem;
	height: 3rem;
	top: -.282rem;
	left: 0;
	border-radius: 50%;
	overflow: hidden;
}

.updates_header {
	text-transform: uppercase;
	font-size: 1.375rem;
	font-family: LeagueGothic, Arial, sans-serif;
	margin-bottom: 1.594rem;
	color: #454545;
}

.updates_title {
	display: block;
	padding-bottom: .438rem;
	font-size: 1rem;
	font-family: 'Open Sans ExtBold', 'Trebuchet MS', Arial, sans-serif;
	font-weight: bold;
	color: #454545;
}

.updates_content {
	margin-bottom: 1.625rem;
	font-size: 1rem;
	font-family: 'Open Sans Light', 'Trebuchet MS', Arial, sans-serif;
	white-space: nowrap;
}

.updates_link {
	display: block;
	padding-right: .344rem;
	text-transform: uppercase;
	text-align: right;
	font-size: .875rem;
	font-family: LeagueGothic, Arial, sans-serif;
	color: #454545;
}

.updates_link:hover, .updates_title:hover {
	color: #bbb;
	cursor: pointer;
}

/*BRANDS*/

.brands {
	border-bottom: .063rem solid #f9f9f9;
	background: #f9f9f9;
}

.brands .container {
	min-width: 48.5rem;
	padding: 0 5.75rem;
}


.brands_list {
	display: table;
	width: 100%;
	height: 7.625rem;

}

.brands_logo {
	display: table-cell;
	width: 18%;
	vertical-align: middle;
}

/*ARTICLES*/

.articles {
	padding: 6.18rem 0 6rem;
	background: #ececec;
	overflow: hidden;
}

.articles_item {
	float: left;
	width: 29.38%;
}

.articles_item:not(:last-child) {
	margin-right: 5.9%;
}


.articles_title {
	font-family: LeagueGothic, Arial, sans-serif;
	font-size: 1.375rem;
	text-transform: uppercase;
	padding-bottom: .688rem;
	color: #454545;
}

.title-regular {
	display: none;
}

.title-big {
	padding-bottom: 1.4rem;
	font-size: 2.25rem;
}

.title-big span {
	color: #b9b9b9;
}

.title-small {
	padding-bottom: .5rem;
	text-transform: capitalize;
	font-family: Tahoma, Geneva, Verdana, sans-serif;
	font-style: italic;
	font-weight: 500;
	font-size: 1rem;
	color: #c5c5c5;
}

.articles_content {
	height: 10.5rem;
	line-height: 1.5rem;
	font-size: 1.063rem;
	font-family: 'Open Sans Light', 'Trebuchet MS', Arial, sans-serif;
	color: #454545;
	overflow: hidden;
}


.title-small + .articles_content {
	height: 7.5rem;
}

/*FOOTER*/

.footer {
	padding: 3.06rem 0;
	-webkit-box-shadow: inset 0 .188rem .375rem rgba(0,0,0,0.5);
	-moz-box-shadow: inset 0 .188rem .375rem rgba(0,0,0,0.5);
	box-shadow: inset 0 .188rem .375rem rgba(0,0,0,0.5);
	background: url(../img/bg_footer.jpg) center bottom no-repeat;
}

.footer .menu {
	float: left;
	width: 85%;
}

.footer .menu_item {
	float: left;
	margin-right: 4.48%;
}

.footer .menu_link {
	font-size: 1rem;
}

.footer .menu_link:hover {
	-webkit-text-shadow: 0 0 0.5rem #fff;
	-moz-text-shadow: 0 0 0.5rem #fff;
	text-shadow: 0 0 0.5rem #fff;
}

.footer_author {
	float: right;
	font-size: .75rem;
	line-height: 1rem;
	font-family: 'Open Sans Light', 'Trebuchet MS', Arial, sans-serif;
	font-weight: lighter;
	color: #fff;
}

.footer_link {
	font-family: 'Open Sans ExtBold', 'Trebuchet MS', Arial, sans-serif;
	font-weight: 900;
	color: #fff;
}


@media only screen and (min-width: 768px) and (max-width: 959px) {
	/*HEADER*/

	.container {
		min-width: 45.5rem;
		width: 55%;
		margin: 0 auto;
	}

	.container-top {
		padding-bottom: 38.75rem;
	}

	.logo {
		float: none;
		padding-bottom: 1.5rem;
	}

	.top-menu {
		margin-left: 0;
	}

	.top-menu .menu_item {
		padding-left: 0;
		padding-right: 7%;
		text-align: left;
	}

	.container-bottom {
		min-width: 44.06rem;
		padding-left: 1.406rem;
		margin: 0 auto;
	}

	.container-bottom:after {
		width: 1.25rem;
		right: -1.25rem;
	}

	.container-bottom:before {
		width: 1.25rem;
		left: -1.25rem;
	}

	.slider {
		padding: 6.312rem 0 7.187rem;
	}

	.slider_header {
		font-size: 2.81rem;
		padding-bottom: .56rem;
		letter-spacing: 0;
	}

	.slider_sub-header {
		font-size: 1.187rem;
	}

	.slider_content {
		width: 37.2%;
		height: 5.96rem;
		padding-top: 1.0625rem;
		font-size: 1.063rem;
		overflow: hidden;
	}

	.slider_img {
		max-width: 38%;
		top: -8.26rem;;
	}

	.blog {
		padding: 4.906rem 0 4.292rem;
	}

	.blog_article {
		width: 20.7%;
		padding-left: 3.875rem;
	}

	.blog_article:not(:last-child) {
		margin-right: 5%;
	}

	.slider-small {
		position: relative;
		width: 34%;
		padding: 1.937rem 1.687rem 2.75rem 2.5rem;
		margin-right: 8.21%;
	}

	.slider-small .slider_header,
	.slider-small .slider_sub-header {
		display: block;
		font-size: 1.1875rem;
	}

	.slider-small .slider_header {
		padding-bottom: .375rem;
	}

	.radio-black {
		bottom: -2.34rem;
	}

	.radio-black .radio_list {
		margin-left: -5.7rem;
	}

	.updates {
		width: 45.4%;
	}

	.updates_content {
		width: 96.1%;
		overflow: hidden;
	}

	.brands_list {
		height: 7.437rem;
	}

	.articles {
		padding: 6.56rem 0 5.92rem;
	}

	.title-big,
	.title-small {
		display: none;
	}

	.title-regular {
		display: block;
	}

	.title-small + .articles_content {
		height: 10.5rem;
	}

	.articles_item {
		width: 28%;
	}

	.articles_item:not(:last-child) {
		margin-right: 8%;
	}

	.footer {
		padding: 3.06rem 0 5.188rem;
	}

	.footer_author {
		clear: left;
		float: right;
		padding-top: 2.5rem;
	}
}

@media only screen and (min-width: 480px) and (max-width: 767px) {
	.container {
		min-width: 27.5rem;
		width: 55%;
		margin: 0 auto;
	}

	.container-top {
		padding:4.375rem 0 27.56rem;
	}

	.logo {
		float: none;
		width: 100%;
	}

	.logo a {
		display: block;
		text-align: center;
		font-size: 2.31rem;
	}

	.top-menu {
		position: relative;
		margin-left: 0;
	}

	.top-menu .menu_list {
		position: absolute;
		display: block;
		left: 50%;
		width: 246px;
		margin-left: -124px;
		border-radius: 5px;
		border: 1px solid transparent;
		z-index: 999;
	}

	.top-menu .menu_list:hover {
		background: rgba(54, 41, 62, .5);
		border: 1px solid #051116;
	}

	.top-menu .menu_item {
		display: block;
		text-align: center;
		border-bottom: 2px solid transparent;
		/*padding: 11px 0;*/
	}

	.top-menu .menu_item:not(:first-child) {
		display: none;
	}

	.top-menu  .menu_list:hover .menu_item  {
		display: block;
	}

	.top-menu .menu_item:not(:first-child):hover {
		background: rgba(43, 34, 49, .9);
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		box-sizing: border-box;
		border-bottom: 2px solid rgba(237, 191, 255, .9);
	}

	.top-menu .menu_item:first-child {
		padding-top: 5px;
		-webkit-text-shadow: 0 0 6px #fff;
		-moz-text-shadow: 0 0 6px #fff;
		text-shadow: 0 0 6px #fff;
	}

	.top-menu .menu_item:first-child .menu_link {
		display: inline;
		border-bottom: 2px solid rgba(237, 191, 255, .9);
	}

		.top-menu .menu_link {
			display: block;
			line-height: 38.5px;
		}

		.top-menu .menu_link:hover {
			border-bottom: none;
		}
	/*.

	.top-menu {
		margin-left: 0;
	}

	.top-menu .menu_item {
		padding-left: 0;
		padding-right: 7%;
		text-align: left;
	}

	.container-bottom {
		min-width: 44.06rem;
		padding-left: 1.406rem;
		margin: 0 auto;
	}

	.container-bottom:after {
		width: 1.25rem;
		right: -1.25rem;
	}

	.container-bottom:before {
		width: 1.25rem;
		left: -1.25rem;
	}

	.slider {
		padding: 6.312rem 0 7.187rem;
	}

	.slider_header {
		font-size: 2.81rem;
		padding-bottom: .56rem;
		letter-spacing: 0;
	}

	.slider_sub-header {
		font-size: 1.187rem;
	}

	.slider_content {
		width: 37.2%;
		height: 5.96rem;
		padding-top: 1.0625rem;
		font-size: 1.063rem;
		overflow: hidden;
	}*/

}
