/* Определение шрифта для Internet Explorer */
@font-face {
  font-family: LeagueGothic;
  src: url(leaguegothic-regular-webfont.eot);
}

@font-face {
  font-family: MyriadProRegular;
  src: url(Myriad Pro Regular.eot);
}

/* Определение шрифта для остальных браузеров */
@font-face {
	font-family: LeagueGothic;
	src: url(../fonts/leaguegothic-regular-webfont.ttf) format('truetype'),
		url(../fonts/LeagueGothic-Regular.otf) format('opentype');
	font-weight: normal;
}

@font-face {
	font-family: MyriadProRegular;
	src: url(../fonts/Myriad Pro Regular.ttf) format('truetype'),
		url(../fonts/MyriadPro-Regular.otf) format('opentype');
	font-weight: normal;
}

@font-face {
	font-family: 'Open Sans Light';
	src: url(../fonts/OpenSans-Light.ttf) format('truetype');
	font-weight: lighter;
}

.clearfix:after {
	content: '.';
	display: block;
	line-height: 0;
	clear: both;
	visibility: hidden;
}

.wrapper {

}

/*HEADER*/

.header {
	width: 100%;
	background: url(../img/bg.jpg) center 0 no-repeat;
}

/*LOGO*/

.logo {
	padding: 69px 0 25px;
	text-align: center;
}

.logo a {
	text-transform: uppercase;
	font-family: LeagueGothic, Arial, sans-serif;
	font-size: 37px;
	color: #fff;
}

.logo span {
	background: rgba(116,80,131,1);
	background: -moz-linear-gradient(top, rgba(116,80,131,1) 0%, rgba(50,37,57,1) 100%);
	background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(116,80,131,1)), color-stop(100%, rgba(50,37,57,1)));
	background: -webkit-linear-gradient(top, rgba(116,80,131,1) 0%, rgba(50,37,57,1) 100%);
	background: -o-linear-gradient(top, rgba(116,80,131,1) 0%, rgba(50,37,57,1) 100%);
	background: -ms-linear-gradient(top, rgba(116,80,131,1) 0%, rgba(50,37,57,1) 100%);
	background: linear-gradient(to bottom, rgba(116,80,131,1) 0%, rgba(50,37,57,1) 100%);
	-webkit-background-clip: text;
	-moz-background-clip: text;
	background-clip: text;
	color: transparent;
}

/*MENU*/

.vertical-menu {
	position: relative;
}

.vertical-menu ul {
	position: absolute;
	left: 50%;
	width: 246px;
	margin-left: -124px;
	border-radius: 5px;
	border: 1px solid transparent;
	z-index: 9999;
}

.vertical-menu ul:hover {
	background: rgba(54, 41, 62, .5);
	border: 1px solid #051116;
}

.menu_item {
	text-align: center;
	border-bottom: 2px solid transparent;
	padding: 11px 0;
}

.menu_link {
	display: block;
	text-transform: uppercase;
	font-family: LeagueGothic, Arial, sans-serif;
	font-size: 18px;
	color: #fff;
}

.vertical-menu  ul:hover .menu_item  {
	display: block;
}

.vertical-menu .menu_item:not(:first-child) {
	display: none;
}

.vertical-menu .menu_item:not(:first-child):hover {
	background: rgba(43, 34, 49, .9);
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	border-bottom: 2px solid rgba(237, 191, 255, .9);
}

.vertical-menu .menu_item:first-child {
	padding-top: 18px;
}

.vertical-menu .menu_item:first-child .menu_link {
	display: inline;
	border-bottom: 2px solid rgba(237, 191, 255, .9);
}

/*SLIDER*/

.slider {
	position: relative;
	width: 246px;
	margin: 0 auto;
	margin-top: 47px;
	padding: 119.5px 0 165.6px;
	-webkit-text-shadow: 0px 1px 1px rgba(0,0,0,.5);
	-moz-text-shadow: 0px 1px 1px rgba(0,0,0,.5);
	text-shadow: 0px 1px 1px rgba(0,0,0,.5);
}

.slider_item {
	position: relative;
	padding-left: 27px;
}

.header .slider_item:before,
.header .slider_item:after {
	content: '';
	position: absolute;
	width: 30px;
	height: 42px;
	top: 0;
	right: -42px;
	margin-top: 11px;
	background: url(../img/arrow_right.png) 0 0 no-repeat;
	cursor: pointer;
}

.header .slider_item:before {
	background: url(../img/arrow_left.png) 0 0 no-repeat;
	left: -42px;
}

.slider_header {
	text-transform: capitalize;
	font-size: 36px;
	font-family: LeagueGothic, Arial, sans-serif;
	color: #fff;
}

.slider_sub_header {
	text-transform: uppercase;
	font-family: LeagueGothic, Arial, sans-serif;
	font-size: 15px;
	color: #edbfff;
}

.slider_preview {
	font-family: MyriadProRegular, Arial, sans-serif;
	font-size: 14px;
	color: #fff;
	display: none;
}

/*.slider_links {
	position: absolute;
	left:123px;
	bottom: -20px;
}

.slider_links_item {
	float: left;
}

.slider_links_item a {
	display: block;
	color: #fff;
	background: #000;
	width: 16px;
	height: 16px;
	border-radius: 50%;
}*/

/*.slider_links ul li {
	float: left;
}

.slider_links ul li a {
	display: block;
	width: 16px;
	height: 16px;
	color: #fff;
	background: #000;
	border-radius: 50%;
}*/

.blog {
	padding: 69.5px 0;
		-webkit-text-shadow: 0px 1px 1px rgba(0,0,0,.5);
	-moz-text-shadow: 0px 1px 1px rgba(0,0,0,.5);
	text-shadow: 0px 1px 1px rgba(0,0,0,.5);
	border-top: 1px solid #000;
	background: rgba(116,80,131,1);
	background: -moz-linear-gradient(top, rgba(116,80,131,1) 0%, rgba(50,37,57,1) 100%);
	background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(116,80,131,1)), color-stop(100%, rgba(50,37,57,1)));
	background: -webkit-linear-gradient(top, rgba(116,80,131,1) 0%, rgba(50,37,57,1) 100%);
	background: -o-linear-gradient(top, rgba(116,80,131,1) 0%, rgba(50,37,57,1) 100%);
	background: -ms-linear-gradient(top, rgba(116,80,131,1) 0%, rgba(50,37,57,1) 100%);
	background: linear-gradient(to bottom, rgba(116,80,131,1) 0%, rgba(50,37,57,1) 100%);
}

.blog_list {
	width: 213px;
	padding-left: 62px;
	margin: 0 auto;
}

.blog_title {
  position: relative;
	text-transform: uppercase;
	font-family: LeagueGothic, Arial, sans-serif;
	font-size: 19px;
	color: #fff;
}

.blog_title::before {
  content: '';
  position: absolute;
  height: 30px;
  width: 30px;
  left: -51px;
}

.wrench::before {
  background: url(../img/blog_icon.png) 0 0 no-repeat;
}

.question::before {
  background: url(../img/blog_icon.png) -30px 0 no-repeat;
}

.music::before {
  background: url(../img/blog_icon.png) -60px 0 no-repeat;
}

.blog_article article {
	height: 70px;
	line-height: 24px;
	font-family: 'Open Sans Light', 'Trebuchet MS', Arial, sans-serif;
	font-weight: lighter;
	font-size: 16px;
	color: #fff;
	overflow: hidden;
}

.blog_link {
	display: block;
	text-align: right;
	margin-bottom: 18px;
	font-size: 14px;
	font-family: LeagueGothic, Arial, sans-serif;
	color: #fff;
}

.blog_link:hover {
  text-shadow: 0px 0px 8px #fff;
}

.slider.short {
	padding: 97px 0 123px;
	margin-top: 0px;
	-webkit-text-shadow: none;
	-moz-text-shadow: none;
	text-shadow: none;
}

.short .slider_header {
	text-transform: uppercase;
	padding-bottom: 5px;
	font-size: 17px;
	color: #454545;
}

.short .slider_preview {
	display: block;
	height: 172px;
	line-height: 23px;
	padding-right: 38px;
	color: #454545;
	overflow-y: hidden;
}

.slider_icon {
	position: absolute;
	left: -36px;
	top: 0;
}

.updates {
	position: relative;
	width: 295px;
	margin: 0 auto;
}

.updates_header {
	padding-bottom: 22px;
	text-transform: uppercase;
	font-size: 22px;
	font-family: LeagueGothic, Arial, sans-serif;
	color: #454545;
}

.updates_item {
	position: relative;
	margin-bottom: 30px;
}

.updates_icon {
	position: absolute;
	width: 48px;
	height: 48px;
	top: 0px;
	left: -59px;
	border-radius: 50%;
	overflow: hidden;
}

.updates_title, .updates_item p {
	font-size: 16px;
	font-family: 'Open Sans Light', 'Trebuchet MS', Arial, sans-serif;
	colo: #454545;
}

.updates_title {
	display: block;
	padding-top: 6px;
}

.updates_title h6 {
	font-weight: 900;
	color: #454545;
}

.updates_item p {
	line-height: 24px;
}

.updates_link {
	display: block;
	padding-right: 20px;
	text-transform: uppercase;
	text-align: right;
	font-size: 14px;
	font-family: LeagueGothic, Arial, sans-serif;
	cursor: pointer;
	color: #454545;
}

.brands {
	width: 100%;
	padding: 145px 0 76px;
}

.brands ul {
	width: 246px;
	margin: 0 auto;
}

.brands_logo {
	float: left;
}

.brands_logo a {
	display: block;
	width: 102px;
	height: 102px;
	margin-right: 41px;
	background-size: 100%;
    background-position: center;
	background: url(../img/brands.png) 0 0 no-repeat;
}

.brands_logo:nth-child(2) a {
	margin-right: 0;
	background: url(../img/brands.png) -120px 0 no-repeat;
}

.brands_logo:nth-child(3) a {
	background: url(../img/brands.png) -269px 0 no-repeat;
}

.brands_logo:nth-child(4) a {
	margin-right: 0;
	background: url(../img/brands.png) -384px 0 no-repeat;
}

.brands_logo:nth-child(5) a {
	background: url(../img/brands.png) -529px 0 no-repeat;
}

.brands_logo:nth-child(6) a {
	margin-right: 0;             
	background: url(../img/brands.png) -676px 0 no-repeat;
}
/*FOOTER*/

.footer {
	width: 100%;
	height: 202px;
	clear: both;
	-webkit-box-shadow: inset 0 3px 6px rgba(0,0,0,0.5);
	box-shadow: inset 0 3px 6px rgba(0,0,0,0.5);
	background: url(../img/bg_footer.jpg) center bottom no-repeat;
}

.footer p {
	width: 100%;
	padding-top: 40px;
	text-align: center;
	font-size: 12px;
	font-family: 'Open Sans Light', 'Trebuchet MS', Arial, sans-serif;
	color: #fff;
}

.footer p span {
	font-weight: 900;
}