<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8"/>
	<title>Lesson19-20</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
	<link rel="stylesheet" href="dist/css/style.css">
	<script src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/4.0.0/lodash.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
	<script defer src="dist/js/jquery.jcarousel.js"></script>
	<script src="dist/js/script.js"></script>
</head>
<body>
	<div class="wrapper">
		<header class="header clearfix">
			<div class="logo">
				<h1 class="logo__big">Build Home</h1>
				<h2 class="logo__small">industrial theme</h2>
			</div>
			<div class="socials">
				<ul class="socials__list clearfix">
					<li class="socials__item">
						<a href="#" class="socials__link">
							<i class="fa fa-facebook"></i>
						</a>
					</li>
					<li class="socials__item">
						<a href="#" class="socials__link">
							<i class="fa fa-twitter"></i>
						</a>
					</li>
					<li class="socials__item">
						<a href="#" class="socials__link">
							<i class="fa fa-rss"></i>
						</a>
					</li>
					<li class="socials__item">
						<a href="#" class="socials__link">
							<i class="fa fa-linkedin"></i>
						</a>
					</li>
					<li class="socials__item">
						<a href="#" class="socials__link">
							<i class="fa fa-skype"></i>
						</a>
					</li>
				</ul>
			</div>
		</header>
		<nav class="menu">
			<ul class="menu__list clearfix">
				<li class="menu__item"><a href="#" class="menu__link menu__link--active">home</a></li>
				<li class="menu__item"><a href="#" class="menu__link">features</a></li>
				<li class="menu__item"><a href="#" class="menu__link">services</a></li>
				<li class="menu__item"><a href="#" class="menu__link">news</a></li>
				<li class="menu__item"><a href="#" class="menu__link">shop</a></li>
			</ul>
			<div class="menu__search">
				<input type="text" class="menu__search-control" placeholder="Search...">
				<i class="fa fa-search"></i>
			</div>
		</nav>
		<main class="main">
			<div class="slider jcarousel">
				<ul class="slider__list">
					<li class="slider__item">
						<h3 class="slider__title slider__title--active"><span>build</span><span>your</span><span>business</span></h3>
						<img src="dist/img/slider_1.jpg" alt="">
					</li>
					<li class="slider__item">
						<h3 class="slider__title"><span>build</span><span>your</span><span>life</span></h3>
						<img src="dist/img/slider_2.jpg" alt="">
					</li>
					<li class="slider__item">
						<h3 class="slider__title"><span>build</span><span>your</span><span>future</span></h3>
						<img src="dist/img/slider_3.jpg" alt="">
					</li>
				</ul>
				<div class="jcarousel-pagination">
					<a href="#1" class="jcarousel-pagination__link--active"></a>
					<a href="#2"></a>
					<a href="#3"></a>
				</div>
			</div>
			<div class="articles">
				<ul class="articles__list clearfix">
					<li class="articles__item articles__item--settings">
						<span>01</span>
						<h3 class="articles__title">Power Inside</h3>
						<p class="articles__content">
							Cum sociis natoque penatibus et magnis dis parturient montesmus. Pro vel nibh et elit mollis commodo et nec augueique 
						</p>
						<a href="#" class="articles__link">Read More</a>
					</li>
					<li class="articles__item articles__item--params">
						<span>02</span>
						<h3 class="articles__title">New Technologies</h3>
						<p class="articles__content">
							Cum sociis natoque penatibus et magnis dis parturient montesmus. Pro vel nibh et elit mollis commodo et nec augueique 
						</p>
						<a href="#" class="articles__link">Read More</a>
					</li>
					<li class="articles__item articles__item--truck">
						<span>03</span>
						<h3 class="articles__title">Fast Support</h3>
						<p class="articles__content">
							Cum sociis natoque penatibus et magnis dis parturient montesmus. Pro vel nibh et elit mollis commodo et nec augueique 
						</p>
						<a href="#" class="articles__link">Read More</a>
					</li>
				</ul>
			</div>
		</main>
	</div>
	<div class="services">
			<div class="wrapper clearfix">
				<h2 class="services__header">Our Services</h2>
				<figure class="services__item">
					<a href="#" class="services__link">
						<img src="dist/img/service_1.jpg" alt="service1">
						<figurecaption class="services__title">Schedule Services</figurecaption>
					</a>
				</figure>
				<figure class="services__item">
					<a href="#" class="services__link">
						<img src="dist/img/service_2.jpg" alt="service2">
						<figurecaption class="services__title">Preventive Maintence</figurecaption>
					</a>
				</figure>
				<figure class="services__item">
					<a href="#" class="services__link">
						<img src="dist/img/service_3.jpg" alt="service3">
						<figurecaption class="services__title">Tire & Wheel Services</figurecaption>
					</a>
				</figure>
				<figure class="services__item">
					<a href="#" class="services__link">
						<img src="dist/img/service_4.jpg" alt="service4">
						<figurecaption class="services__title">Repair Services</figurecaption>
					</a>
				</figure>
			</div>
	</div>
	<div class="wrapper">
		<div class="news-banners clearfix"></div>
		<div class="brands">
			<ul class="brands__list clearfix">
				<li class="brands__item"><a href="#" class="brands__link"><img src="dist/img/brand_1.png" alt=""></a></li>
				<li class="brands__item"><a href="#" class="brands__link"><img src="dist/img/brand_2.png" alt=""></a></li>
				<li class="brands__item"><a href="#" class="brands__link"><img src="dist/img/brand_3.png" alt=""></a></li>
				<li class="brands__item"><a href="#" class="brands__link"><img src="dist/img/brand_4.png" alt=""></a></li>
				<li class="brands__item"><a href="#" class="brands__link"><img src="dist/img/brand_5.png" alt=""></a></li>
				<li class="brands__item"><a href="#" class="brands__link"><img src="dist/img/brand_6.png" alt=""></a></li>
			</ul>
		</div>
	</div>
	<footer class="footer">
		<section class="footer__upper">
			<div class="wrapper clearfix">
				<div class="socials">
					<h3 class="footer__title">Socials</h3>
					<ul class="footer__list">
						<li class="footer__item">
							<a href="#" class="footer__link">Facebook</a>
						</li>
						<li class="footer__item">
							<a href="#" class="footer__link">Flickr</a>
						</li>
						<li class="footer__item">
							<a href="#" class="footer__link">Twitter</a>
						</li>
						<li class="footer__item">
							<a href="#" class="footer__link">Vimeo</a>
						</li>
					</ul>
				</div>
				<div class="links">
					<h3 class="footer__title">Links</h3>
					<ul class="footer__list">
						<li class="footer__item">
							<a href="#" class="footer__link">How to Write a Blog</a>
						</li>
						<li class="footer__item">
							<a href="#" class="footer__link">Create a Blog in 4 Steps</a>
						</li>
						<li class="footer__item">
							<a href="#" class="footer__link">15 Tips to Increase Traffic</a>
						</li>
						<li class="footer__item">
							<a href="#" class="footer__link">20 Blog Post Ideas</a>
						</li>
					</ul>
				</div>
				<div class="blogroll">
					<h3 class="footer__title">Blogroll</h3>
					<ul class="footer__list">
						<li class="footer__item">
							<a href="#" class="footer__link">Blogs Blog</a>
						</li>
						<li class="footer__item">
							<a href="#" class="footer__link">Roll Up Roll Up</a>
						</li>
						<li class="footer__item">
							<a href="#" class="footer__link">Blog Free</a>
						</li>
						<li class="footer__item">
							<a href="#" class="footer__link">Wordpress Blog</a>
						</li>
					</ul>
				</div>
				<div class="about">
					<h3 class="footer__title">About us</h3>
					<ul class="footer__list">
						<li class="footer__item">
							<a href="#" class="footer__link">Agriculture</a>
						</li>
						<li class="footer__item">
							<a href="#" class="footer__link">Harvest</a>
						</li>
						<li class="footer__item">
							<a href="#" class="footer__link">Company news</a>
						</li>
						<li class="footer__item">
							<a href="#" class="footer__link">Investor relations</a>
						</li>
					</ul>
				</div>
			</div>
		</section>
		<section class="footer__lower">
			<div class="wrapper">
				<div class="contacts clearfix">
					<p class="contacts__address">
						&nbsp;BuildHomeLtd.  Street Name 123   23 45 Cityname
					</p>
					<p class="contacts__tel">
						&nbsp;+123 900 123 456
					</p>
					<p class="contacts__email">
						&nbsp;<a href="mailto:info@buildhome.web">info@buildhome.web</a>
					</p>
					<p class="contacts__copyright">
						&copy;2014 Build Home
					</p>
				</div>
			</div>
		</section>
	</footer>
	<script type="text/template" id="tmpl">
		<section class="news">
			<h2 class="news-banners__title"><%- news.title %></h2>
			<% news.articles.forEach(function(article) { %>
			<article class="news__article">
				<div class="news__photo">
					<img src="<%-article.src%>" alt="">
				</div>
				<div class="news__date">
					<span class="news__date-block news__date-block--month"><%- article.date.month %></span>
					<span class="news__date-block news__date-block--day"><%- article.date.day %></span>
				</div>
				<h3 class="news__title"><%- article.title %></h3>
				<p class="news__subtitle">
					by <a href="#"><%- article.user %></a> Comments(<a href="#"><%- article.comments %></a>)
				</p>
				<p class="news__content"><%- article.content %></p>
			</article>
			<% });	%>
		</section>
		<section class="banners">
		<h2 class="news-banners__title"><%- banners.title %></h2>
			<ul class="banners__list">
			<% banners.bannerList.forEach(function(banner) { %>
				<li class="banners__item">
					<h4 class="banners__title"><span>+</span><%- banner.title %></h4>
					<p class="banners__content"><%- banner.content %></p>
				</li>
			<% });	%>
			</ul>
		</section>
	</script>
</body>
</html>