<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8"/>
	<title>Lesson19-20</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
	<link rel="stylesheet" href="public/css/style.css">
	<script src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/4.0.0/lodash.js"></script>
	<script src="public/js/script.js"></script>
</head>
<body>
	<div class="wrapper">
		<header class="header clearfix">
			<div class="logo">
				<h1 class="logo__big">Build Home</h1>
				<h2 class="logo__small">industrial theme</h2>
			</div>
			<div class="socials">
				<ul class="socials__list clearfix">
					<li class="socials__list__item">
						<a href="#" class="socials__list__link">
							<i class="fa fa-facebook"></i>
						</a>
					</li>
					<li class="socials__list__item">
						<a href="#" class="socials__list__link">
							<i class="fa fa-twitter"></i>
						</a>
					</li>
					<li class="socials__list__item">
						<a href="#" class="socials__list__link">
							<i class="fa fa-rss"></i>
						</a>
					</li>
					<li class="socials__list__item">
						<a href="#" class="socials__list__link">
							<i class="fa fa-linkedin"></i>
						</a>
					</li>
					<li class="socials__list__item">
						<a href="#" class="socials__list__link">
							<i class="fa fa-skype"></i>
						</a>
					</li>
				</ul>
			</div>
		</header>
		<nav class="menu">
			<ul class="menu__list clearfix">
				<li class="menu__list__item"><a href="#" class="menu__list__link menu__list__link--active">home</a></li>
				<li class="menu__list__item"><a href="#" class="menu__list__link">features</a></li>
				<li class="menu__list__item"><a href="#" class="menu__list__link">services</a></li>
				<li class="menu__list__item"><a href="#" class="menu__list__link">news</a></li>
				<li class="menu__list__item"><a href="#" class="menu__list__link">shop</a></li>
			</ul>
			<div class="menu__search">
				<input type="text" class="menu__search__control" placeholder="Search...">
				<i class="fa fa-search"></i>
			</div>
		</nav>
		<main class="main">
			<div class="slider">
				<ul class="slider__list">
					<li class="slider__list__item">
						<h3 class="slider__list__item__title">build your business</h3>
						<img src="public/img/slider_1.jpg" alt="">
					</li>					
					<li class="slider__list__item">
						<h3 class="slider__list__item__title">build your life</h3>
						<img src="public/img/slider_1.jpg" alt="">
					</li>					
					<li class="slider__list__item">
						<h3 class="slider__list__item__title">build your future</h3>
						<img src="public/img/slider_1.jpg" alt="">
					</li>
				</ul>
			</div>
			<div class="articles">
				<ul class="article__list">
					<li class="article__list__item">
						<h3 class="article__list__item__title">Power Inside</h3>
						<p class="article__list__item__content">
							Cum sociis natoque penatibus et magnis dis parturient montesmus. Pro vel nibh et elit mollis commodo et nec augueique 
						</p>
						<a href="#" class="article__list__item__link">Read More</a>
					</li>
					<li class="article__list__item">
						<h3 class="article__list__item__title">New Technologies</h3>
						<p class="article__list__item__content">
							Cum sociis natoque penatibus et magnis dis parturient montesmus. Pro vel nibh et elit mollis commodo et nec augueique 
						</p>
						<a href="#" class="article__list__item__link">Read More</a>
					</li>
					<li class="article__list__item">
						<h3 class="article__list__item__title">Fast Support</h3>
						<p class="article__list__item__content">
							Cum sociis natoque penatibus et magnis dis parturient montesmus. Pro vel nibh et elit mollis commodo et nec augueique 
						</p>
						<a href="#" class="article__list__item__link">Read More</a>
					</li>
				</ul>
			</div>
			<div class="services">
				<h2 class="services__title">Our Services</h2>
				<figure class="services__item">
					<a href="#" class="services__item__link">
						<img src="public/img/service_1.jpg" alt="service1">
						<figurecaption class="services__item__title">Schedule Services</figurecaption>
					</a>
				</figure>
				<figure class="services__item">
					<a href="#" class="services__item__link">
						<img src="public/img/service_2.jpg" alt="service2">
						<figurecaption class="services__item__title">Preventive Maintence</figurecaption>
					</a>
				</figure>
				<figure class="services__item">
					<a href="#" class="services__item__link">
						<img src="public/img/service_3.jpg" alt="service3">
						<figurecaption class="services__item__title">Tire & Wheel Services</figurecaption>
					</a>
				</figure>
				<figure class="services__item">
					<a href="#" class="services__item__link">
						<img src="public/img/service_4.jpg" alt="service4">
						<figurecaption class="services__item__title">Repair Services</figurecaption>
					</a>
					</figure>
			</div>
			<div class="news-banners"></div>
			<div class="brands">
				<ul class="brands__list">
					<li class="brands__list__item"><a href="#"><img src="public/img/brand_1.png" alt=""></a></li>
					<li class="brands__list__item"><a href="#"><img src="public/img/brand_2.png" alt=""></a></li>
					<li class="brands__list__item"><a href="#"><img src="public/img/brand_3.png" alt=""></a></li>
					<li class="brands__list__item"><a href="#"><img src="public/img/brand_4.png" alt=""></a></li>
					<li class="brands__list__item"><a href="#"><img src="public/img/brand_5.png" alt=""></a></li>
					<li class="brands__list__item"><a href="#"><img src="public/img/brand_6.png" alt=""></a></li>
				</ul>
			</div>
		</main>
		<footer class="footer">
			<div class="socials">
				<h3>Socials</h3>
				<ul class="footer__list">
					<li class="footer__list__item">
						<a href="#">Facebook</a>
					</li>
					<li class="footer__list__item">
						<a href="#">Flickr</a>
					</li>
					<li class="footer__list__item">
						<a href="#">Twitter</a>
					</li>
					<li class="footer__list__item">
						<a href="#">Vimeo</a>
					</li>
				</ul>
			</div>
			<div class="links">
				<h3>Links</h3>
				<ul class="footer__list">
					<li class="footer__list__item">
						<a href="#">How to Write a Blog</a>
					</li>
					<li class="footer__list__item">
						<a href="#">Create a Blog in 4 Steps</a>
					</li>
					<li class="footer__list__item">
						<a href="#">15 Tips to Increase Traffic</a>
					</li>
					<li class="footer__list__item">
						<a href="#">20 Blog Post Ideas</a>
					</li>
				</ul>
			</div>
			<div class="blogroll">
				<h3>Blogroll</h3>
				<ul class="footer__list">
					<li class="footer__list__item">
						<a href="#">Blogs Blog</a>
					</li>
					<li class="footer__list__item">
						<a href="#">Roll Up Roll Up</a>
					</li>
					<li class="footer__list__item">
						<a href="#">Blog Free</a>
					</li>
					<li class="footer__list__item">
						<a href="#">Wordpress Blog</a>
					</li>
				</ul>
			</div>
			<div class="about">
				<h3>About us</h3>
				<ul class="footer__list">
					<li class="footer__list__item">
						<a href="#">Agriculture</a>
					</li>
					<li class="footer__list__item">
						<a href="#">Harvest</a>
					</li>
					<li class="footer__list__item">
						<a href="#">Company news</a>
					</li>
					<li class="footer__list__item">
						<a href="#">Investor relations</a>
					</li>
				</ul>
			</div>
			<div class="contacts">
				<p class="contacts_address">
					BuildHomeLtd.  Street Name 123   23 45 Cityname
				</p>
				<p class="contacts_tel">
					+123 900 123 456
				</p>
				<p class="contacts_email">
					nfo@buildhome.web
				</p>
				<p class="contacts_copyright">
					&copy;2014 Build Home
				</p>

			</div>
		</footer>
	</div>
	<script type="text/template" id="tmpl">
		<section class="news">
			<h2 class="news-banners__title"><% news.title %></h2>
			<% news.articles.forEach(function(article) { %>
			<article class="news__article">
				<div class="news__article__photo">
					<img src="<%-article.src%>" alt="">
					<span class="news__article__date"><%- article.date.month %></span>
					<span class="news__article__date"><%- article.date.day %></span>
				</div>
				<h3 class="news__article__title"><%- article.title %></h3>
				<p class="news__article__subtitle">
					by <span><%- article.user %></span> Comments(<span><%- article.comments %></span>)
				</p>
				<p class="news__article__content"><%- article.content %></p>
			</article>
			<% });	%>
		</section>
		<section class="banners">
		<h2 class="news-banners__title"><% banners.title %></h2>
			<ul class="banners__list">
			<% banners.bannerList.forEach(function(banner) { %>
				<li class="banners__list__item">
					<h4 class="banners__list__item__title"><%- banner.title %></h4>
					<p class="banners__list__item__content"><%- banner.content %></p>
				</li>
			<% });	%>
			</ul>
		</section>
	</script>
</body>
</html>