.wrapper {
	width: 450px;
	padding: 50px 20px;
	margin: 0 auto;
}

fieldset {
	padding: 20px 40px;
	margin-bottom: 15px;
	outline: 2px solid #aaa;
	border: 2px solid yellow;
}

fieldset div {
	/*position: relative;*/
	margin-bottom: 15px;
}

label, input {
	display: inline-block;
}

label {
	width: 100px;
}

.tooltip {
	position: absolute;
	display: inline-block;
	width: 200px;
	padding: 5px 10px;
	top: -5px;
	right: -25px;
	line-height: 20px;
	border: 2px solid #777;
	border-radius: 4px;
	text-align: center;
	font-size: 12px;
	font-family: Arial, sans-serif;
	background: rgba(0,0,0,.5);
	color: yellow;
	 z-index:999;
 	left:-9999px;
}

/*.tooltip{
 position:absolute;
 z-index:999;
 left:-9999px;
 background-color:#dedede;
 padding:5px;
 border:1px solid #fff;
 width:250px;
}

.tooltip p{
 margin:0;
 padding:0;
 color:#fff;
 background-color:#222;
 padding:2px 7px;
}*/

