.wrapper {
	width: 450px;
	padding: 50px 20px;
	margin: 0 auto;
}

fieldset {
	padding: 20px 40px;
	margin-bottom: 15px;
	outline: 2px solid #aaa;
	border: 2px solid yellow;
	background: #999;
}

fieldset div {
	margin-bottom: 15px;
}

label, input {
	display: inline-block;
}

label {
	width: 100px;
	font-family: Arial, sans-serif;
	color: #eee;
}

.tooltip {
	position: absolute;
	display: inline-block;
	width: 200px;
	padding: 5px 10px;
	top: -5px;
	right: -25px;
	line-height: 20px;
	border: 2px solid #777;
	border-radius: 4px;
	text-align: center;
	font-size: 12px;
	font-family: Arial, sans-serif;
	background: rgba(0,0,0,.5);
	color: yellow;
	 z-index:999;
 	left:-9999px;
}

button {
	width: 100px;
	height: 30px;
	font-family: Arial, sans-serif;
	font-weight: bold;
	text-transform: uppercase;
	background: #888;
	border: 1px solid #eee;
	border-radius: 3px;
	color: #eee;
	outline: none;
	-webkit-box-shadow: 0px 0px 5px rgba(0,0,0,.5);
	box-shadow: 0px 0px 5px rgba(0,0,0,.5);
}

button:hover {
	background: #555;
	border: 1px solid yellow;
	color: yellow;
}